{% extends 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard.html.twig' %}

{% block title %}{% trans  %}Welcome{% endtrans %} {{ app.user }}{% endblock %}

{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}
{% block body %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/uniform.min.js')}}"></script>
{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js')}}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/layout_sidebar_sticky_custom.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js')}}"></script>

{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/notifications/pnotify.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_notifications_pnotify.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>#}


{% endblock %}