{% extends app.request.xmlHttpRequest ? 'IbtikarGlanceDashboardBundle::ajaxLayout.html.twig' : app.request.get('iframe') == 'true' ? 'IbtikarGlanceDashboardBundle::iframeFormLayout.html.twig' : 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard_form.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/css/intlTelInput.css')}}">

    {% endblock %}
{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}

{% block form_buttons %}
                    <div class="row actionButtons">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg dev-form-submit-btn" type="button">{% trans %}Save{% endtrans %}<i class="icon-checkmark4 position-right"></i></button>
                        <button class="btn btn-defualt btn-lg dev-form-reset-button" type="button">{% trans %}Reset{% endtrans %}<i class="icon-cross2 position-right"></i></button>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var G_API_KEY = "AIzaSyDDQ69XA7TFEzlKEYPggM_a0SMhKf4To38";
        var availableMessage = '{% trans %}valid{% endtrans %}';
        var unAvailableMessage = '{% trans %}not valid{% endtrans %}';
        var requestId = '{{ app.request.get('id') }}';
        var accessDeniedUrl = '{{ path('access_denied') }}';
        var notFoundUrl="{{ path('ibtikar_glance_dashboard_not_found')}}";
        var messages = {
            NotBlank: '{% trans from 'validators' %}This value should not be blank.{% endtrans %}',
            pleaseSelectOneImage: '{% trans %}pleaseSelectOneImage{% endtrans %}',

        };
    </script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/uniform.min.js')}}"></script>
{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js')}}"></script>#}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/layout_sidebar_sticky_custom.js')}}"></script>
{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js')}}"></script>#}

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2_ar.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/jquery_ui/interactions.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/libraries/jquery_ui/widgets.min.js')}}"></script>
    <!-- touchspin for time -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/inputs/touchspin.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_select2.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/tags/tokenfield.min.js')}}"></script>
    <script  type="text/javascript"  src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/intlTelInput.js')}}"></script>
    <script  type="text/javascript"  src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/utils.js')}}"></script>



{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/notifications/pnotify.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_notifications_pnotify.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>#}

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/jquery.form.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/additional-methods.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/messages_ar.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/validation.js')}}"></script>

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/backend.js') }}"></script>



    <script>
    var loginUrl="{{ path('ibtikar_glance_ums_staff_login')}}";

    function formPluginsInit(){
            $('.select,.select-multiple').select2({ "language": "ar"});
            $(".select-with-thumb").select2({
                templateResult: addUserPic,
                templateSelection: addUserPic
            });

            $('[id$="Time"],[id$="Count"]').TouchSpin({
                min: 0,
                max: 1000,
                verticalbuttons: true,
                verticalupclass: 'icon-plus2',
                verticaldownclass: 'icon-minus2'
            });
            $("[type='radio']").uniform({
                radioClass: 'choice'
            });

            dragula([document.getElementById('media-list-target-right')], {
                mirrorContainer: document.querySelector('.media-list-container'),
                moves: function (el, container, handle) {
                    return handle.classList.contains('dragula-handle');
                }
            });

            $(document).trigger('form-plugin-init');
    }

    function addUserPic(opt) {
        if (!opt.id) {
            return opt.text;
        }
        var optimage = $(opt.element).data('image');
        if (!optimage) {
            return opt.text;
        } else {
            var $opt = $(
                    '<span class="userName"><img src="' + optimage + '" class="userPic" /> ' + $(opt.element).text() + '</span>'
                    );
            return $opt;
        }
    }
    $(document).ready(function () {
            formPluginsInit();
            $('.dev-form-reset-button').on('click', function () {
            $('input,textarea').each(function () {
                unhighlightElement($(this))

            })
           $('form').find("select").trigger("change");
         })

        $('body').on('ajaxCallback',function(){
            formPluginsInit();
            $(".alert.alert-success").fadeTo(5000, 500).slideUp(500, function(){
                 $(".alert.alert-success").slideUp(500);
             });

        })
        if(typeof CKEDITOR != "undefined"){
            CKEDITOR.on( 'instanceReady', function(evt,ss,w) {
                evt.editor.on('change', function(evt) {
                    evt.editor.updateElement();
                    $(evt.sender.element.$).valid();
                });
            });
        }
    })


    </script>
{% endblock %}