{% extends app.request.xmlHttpRequest ? 'IbtikarGlanceDashboardBundle::ajaxLayout.html.twig' : app.request.get('iframe') == 'true' ? 'IbtikarGlanceDashboardBundle::iframeFormLayout.html.twig' : 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard_form.html.twig' %}
{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}

{% block form_buttons %}
                    <div class="row actionButtons">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg dev-form-submit-btn" type="button">{% trans %}Save{% endtrans %}<i class="icon-checkmark4 position-right"></i></button>
                        <button class="btn btn-defualt btn-lg dev-form-reset-button" type="button">{% trans %}Reset{% endtrans %}<i class="icon-cross2 position-right"></i></button>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/notifications/pnotify.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_notifications_pnotify.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/jquery.form.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/additional-methods.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/messages_ar.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/backend.js') }}"></script>

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/validation.js')}}"></script>
    <script>
        var availableMessage = '{% trans %}valid{% endtrans %}';
        var unAvailableMessage = '{% trans %}not valid{% endtrans %}';
        var requestId = '{{ app.request.get('id') }}';


    </script>
{% endblock %}