        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul class="nav navbar-nav">
{#                    <li><a href="index.html"><i class="icon-display4 position-left"></i> لوحة التحكم</a></li>
#}



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-make-group position-left"></i> إدارة المستخدمين <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">



                                {% if is_granted('ROLE_JOB_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_job_list') }}" {% if 'job' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-file-css"></i> {% trans %}Jobs{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_CITY_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_city_list') }}" {% if 'city' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-file-css"></i> {% trans %}Cities{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_STAFF_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_staff_list') }}" {% if 'staff' in app.request.attributes.get('_route') and app.request.attributes.get('id') != app.user.id %}class="subActive"{% endif %}><i class="icon-file-css"></i> {% trans %}List Staff{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ROLE_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_role_list') }}" {% if 'role' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-file-css"></i> {% trans %}Roles{% endtrans %}</a></li>
                                {% endif %}


                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-make-group position-left"></i> {% trans from 'role' %}content{% endtrans%}<span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">
                                {% if is_granted('ROLE_PRODUCT_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_dashboard_product_list') }}" {% if 'product' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-file-css"></i> {% trans %}products{% endtrans %}</a></li>
                                {% endif %}

                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog3"></i>
                            <span class="visible-xs-inline-block position-right">انشر</span>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-user-lock"></i> الخصوصية</a></li>
                            <li><a href="#"><i class="icon-statistics"></i> الارقام</a></li>
                            <li><a href="#"><i class="icon-accessibility"></i> السهولة</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-gear"></i> الضبط</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /second navbar -->