        <!-- Second navbar -->
        <div class="navbar navbar-default" id="navbar-second">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-second-toggle">
                <ul class="nav navbar-nav">
{#                    <li><a href="index.html"><i class="icon-display4 position-left"></i> لوحة التحكم</a></li>
#}


   {% if is_granted('ROLE_JOB_VIEW') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CITY_VIEW') or is_granted('ROLE_STAFF_VIEW') or is_granted('ROLE_VISITOR_VIEW') or  is_granted('ROLE_ROLE_VIEW')  or is_granted('ROLE_STARSNEW_VIEW') or is_granted('ROLE_STARSREJECTED_VIEW') or is_granted('ROLE_STARSAPPROVED_VIEW') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-users2 position-left"></i> المستخدمين  <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu width-250">



                                {% if is_granted('ROLE_JOB_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_job_list') }}" {% if 'job' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/jobs.png')}}" class=" position-left"/>{% trans %}list Jobs{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_CITY_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_city_list') }}" {% if 'city' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/cities.png')}}" class=" position-left"/>{% trans %}Cities{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_STAFF_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_staff_list') }}" {% if 'staff' in app.request.attributes.get('_route') and app.request.attributes.get('id') != app.user.id %}class="subActive"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/workers.png')}}" class=" position-left"/>{% trans %}List Staff{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_VISITOR_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_visitor_list') }}" {% if 'visitor' in app.request.attributes.get('_route') and app.request.attributes.get('id') != app.user.id %}class="subActive"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/workers.png')}}" class=" position-left"/>{% trans from 'visitor' %}List Visitor{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ROLE_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_role_list') }}" {% if 'role' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/roles.png')}}" class=" position-left"/>{% trans %}Roles{% endtrans %}</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_STARSNEW_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_dashboard_starsnew_list_new_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i>نجمات مطبخ قودي</a></li>
                                {% elseif is_granted('ROLE_STARSREJECTED_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_starsrejected_list_rejected_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i>نجمات مطبخ قودي</a></li>
                                {% elseif is_granted('ROLE_STARSAPPROVED_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_starsapproved_list_approved_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i>نجمات مطبخ قودي</a></li>
                                {% endif %}

                        </ul>
                    </li>
    {% endif %}
         {% if is_granted('ROLE_PRODUCT_VIEW') or  is_granted('ROLE_TAG_VIEW') or is_granted('ROLE_RECIPENEW_VIEW') or is_granted('ROLE_RECIPEDELETED_VIEW') or is_granted('ROLE_RECIPEAUTOPUBLISH_VIEW') or is_granted('ROLE_RECIPEPUBLISH_VIEW') or is_granted('ROLE_RECIPEDRAFT_VIEW')  or is_granted('ROLE_ADMIN')%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-puzzle4 position-left"></i>
{#                            {% trans from 'role' %}content{% endtrans%}#}
                            المحتوى
                            <span class="caret"></span>
                        </a>

                            <ul class="dropdown-menu width-250">



                                {% if is_granted('ROLE_RECIPENEW_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_dashboard_recipenew_list_new_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/>{% trans from 'recipe'%}List Recipe{% endtrans %}</a></li>
                                {% elseif is_granted('ROLE_RECIPEDELETED_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_recipedeleted_list_deleted_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/>{% trans from 'recipe'%}List Recipe{% endtrans %}</a></li>
                                {% elseif is_granted('ROLE_RECIPEAUTOPUBLISH_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_recipeautopublish_list_autopublish_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> {% trans from 'recipe'%}List Recipe{% endtrans %}</a></li>
                                {% elseif is_granted('ROLE_RECIPEPUBLISH_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_recipepublish_list_publish_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> {% trans from 'recipe'%}List Recipe{% endtrans %}</a></li>
                                {% elseif is_granted('ROLE_RECIPEDRAFT_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_recipedraft_list_draft_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> {% trans from 'recipe'%}List Recipe{% endtrans %}</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_TAG_VIEW') or is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('ibtikar_glance_dashboard_recipetag_list') }}" {% if 'recipetag' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/>
{#                                            {% trans from 'product'%}List Product{% endtrans %}#}
الكلمات المفتاحية
                                        </a></li>
                                {% endif %}
                                {% if is_granted('ROLE_PRODUCT_VIEW') or is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('ibtikar_glance_dashboard_product_list') }}" {% if 'product' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/products.png')}}" class=" position-left"/>
{#                                            {% trans from 'product'%}List Product{% endtrans %}#}
منتجات قودي
                                        </a></li>
                                {% endif %}
                            </ul>
                    </li>
     {% endif %}

         {% if  is_granted('ROLE_CATEGORY_VIEW')  or is_granted('ROLE_MAGAZINE_VIEW') or is_granted('ROLE_STARS_EDIT') or is_granted('ROLE_ADMIN')%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/sections.png')}}" class=" position-left"/>
{#                            {% trans from 'role' %}content{% endtrans%}#}
                          أقسام الموقع
                            <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu width-250">
                                {% if is_granted('ROLE_CATEGORY_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_dashboard_category_list') }}" {% if 'category' in app.request.attributes.get('_route') %}class="highlight"{% endif %}>   <img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/categories.png')}}" class=" position-left"/> {% trans from 'category'%}List Category{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_MAGAZINE_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_dashboard_magazine_list') }}" {% if 'magazine' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/magazines.png')}}" class=" position-left"/> {% trans from 'magazine'%}List Magazine{% endtrans %}</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_STARS_EDIT') or is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('ibtikar_glance_dashboard_stars_edit') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i>
 نجمات مطبخ قودي
                                        </a></li>
                                {% endif %}
                            </ul>
                    </li>
     {% endif %}

     {% if  is_granted('ROLE_MESSAGENEW_VIEW') or is_granted('ROLE_MESSAGEINPROGRESS_VIEW') or is_granted('ROLE_MESSAGECLOSE_VIEW') or is_granted('ROLE_ADMIN')%}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/sections.png')}}" class=" position-left"/>
                {% trans from 'message' %}Goody messages{% endtrans%}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu width-250">
                {% if is_granted('ROLE_MESSAGENEW_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_messagenew_list_new_message') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/categories.png')}}" class=" position-left"/> {% trans from 'message'%}List Message{% endtrans %}</a></li>
                {% elseif is_granted('ROLE_MESSAGEINPROGRESS_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_messageinprogress_list_inprogress_message') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/magazines.png')}}" class=" position-left"/> {% trans from 'message'%}List Message{% endtrans %}</a></li>
                {% elseif is_granted('ROLE_MESSAGECLOSE_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_messageclose_list_close_message') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/magazines.png')}}" class=" position-left"/> {% trans from 'message'%}List Message{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </li>
     {% endif %}

  {% if  is_granted('ROLE_COMPETITIONNEW_VIEW') or is_granted('ROLE_COMPETITIONPUBLISH_VIEW') or is_granted('ROLE_COMPETITIONUNPUBLISH_VIEW') or is_granted('ROLE_ADMIN')%}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/sections.png')}}" class=" position-left"/>
                {% trans from 'competition' %}List Competition{% endtrans%}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu width-250">
                {% if is_granted('ROLE_COMPETITIONNEW_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_competitionnew_list_new_competition') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/categories.png')}}" class=" position-left"/> {% trans from 'competition'%}List competition{% endtrans %}</a></li>
                {% elseif is_granted('ROLE_COMPETITIONPUBLISH_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_competitionpublish_list_publish_competition') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/magazines.png')}}" class=" position-left"/> {% trans from 'competition'%}List competition{% endtrans %}</a></li>
                {% elseif is_granted('ROLE_COMPETITIONUNPUBLISH_VIEW') or is_granted('ROLE_ADMIN')%}
                    <li><a href="{{ path('ibtikar_glance_dashboard_competitionunpublish_list_unpublish_competition') }}" {% if 'message' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/magazines.png')}}" class=" position-left"/> {% trans from 'competition'%}List competition{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </li>
     {% endif %}

                </ul>


            </div>
        </div>
        <!-- /second navbar -->
