<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-fixed">
        <div class="sidebar-content">

            <!-- Title -->
            <div class="category-title h6">
                <span>القائمة الرئيسية</span>
            </div>
            <!-- /title -->


            <!-- Search task -->
            {#         <div class="sidebar-category">
                         <div class="category-title">
                             <span>بحث</span>
                             <ul class="icons-list">
                                 <li><a href="#" data-action="collapse"></a></li>
                             </ul>
                         </div>

                         <div class="category-content">
                             <form action="#">
                                 <div class="has-feedback has-feedback-left">
                                     <input type="search" class="form-control" placeholder="اضغط هنا للبحث">
                                     <div class="form-control-feedback">
                                         <i class="icon-search4 text-size-base text-muted"></i>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>#}
            <!-- /search task -->


            <!-- Action buttons -->
            <div class="sidebar-category">
                <div class="category-title">
                    <span>ارقام هامة</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-git-branch"></i> <span>عدد</span></button>
                            <button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button"><i class="icon-mail-read"></i> <span>عدد</span></button>
                        </div>

                        <div class="col-xs-6">
                            <button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-stats-bars"></i> <span>احصائيات</span></button>
                            <button class="btn bg-blue btn-block btn-float btn-float-lg" type="button"><i class="icon-people"></i> <span>مستخدمين</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /action buttons -->


            <!-- Task navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-title">
                    <span>الصفحات</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">
                        <li class="navigation-header"><span>الصفحات ١</span> <i class="icon-menu" data-placement="right" title="الصفحات"></i></li>


                            {% if is_granted('ROLE_JOB_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_job_list') }}" {% if 'job' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/jobs.png')}}" class=" position-left"/> <span>{% trans %}list Jobs{% endtrans %}</span></a></li>
                                {% endif %}
                                {% if is_granted('ROLE_CITY_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_city_list') }}" {% if 'city' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/cities.png')}}" class=" position-left"/> <span>{% trans %}Cities{% endtrans %}</span></a></li>
                                {% endif %}
                                {% if is_granted('ROLE_STAFF_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_staff_list') }}" {% if 'staff' in app.request.attributes.get('_route') and app.request.attributes.get('id') != app.user.id %}class="subActive"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/workers.png')}}" class=" position-left"/><span>{% trans %}List Staff{% endtrans %}</span></a></li>
                                {% endif %}
                                {% if is_granted('ROLE_VISITOR_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_visitor_list') }}" {% if 'visitor' in app.request.attributes.get('_route') and app.request.attributes.get('id') != app.user.id %}class="subActive"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/workers.png')}}" class=" position-left"/> <span>{% trans from 'visitor' %}List Visitor{% endtrans %}</span></a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ROLE_VIEW') or is_granted('ROLE_ADMIN')%}
                                <li><a href="{{ path('ibtikar_glance_ums_role_list') }}" {% if 'role' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/roles.png')}}" class=" position-left"/> <span>{% trans %}Roles{% endtrans %}</span></a></li>
                                {% endif %}

                                {% if is_granted('ROLE_STARSNEW_VIEW') or is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('ibtikar_glance_dashboard_starsnew_list_new_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i> <span>نجمات مطبخ قودي</span></a></li>
                                {% elseif is_granted('ROLE_STARSREJECTED_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_starsrejected_list_rejected_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i> <span>نجمات مطبخ قودي</span></a></li>
                                {% elseif is_granted('ROLE_STARSAPPROVED_VIEW') or is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('ibtikar_glance_dashboard_starsapproved_list_approved_stars') }}" {% if 'stars' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><i class="icon-star-empty3"></i> <span>نجمات مطبخ قودي</span></a></li>
                                {% endif %}



                        <li class="navigation-header"><span>الصفحات ٢</span> <i class="icon-menu" title="Tasks"></i></li>
                            {% if is_granted('ROLE_RECIPENEW_VIEW') or is_granted('ROLE_ADMIN')%}
                            <li><a href="{{ path('ibtikar_glance_dashboard_recipenew_list_new_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> <span>{% trans from 'recipe'%}List Recipe{% endtrans %}</span></a></li>
                            {% elseif is_granted('ROLE_RECIPEDELETED_VIEW') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('ibtikar_glance_dashboard_recipedeleted_list_deleted_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> <span>{% trans from 'recipe'%}List Recipe{% endtrans %}</span></a></li>
                            {% elseif is_granted('ROLE_RECIPEAUTOPUBLISH_VIEW') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('ibtikar_glance_dashboard_recipeautopublish_list_autopublish_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> <span> {% trans from 'recipe'%}List Recipe{% endtrans %}</span></a></li>
                            {% elseif is_granted('ROLE_RECIPEPUBLISH_VIEW') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('ibtikar_glance_dashboard_recipepublish_list_publish_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> <span>{% trans from 'recipe'%}List Recipe{% endtrans %}</span></a></li>
                            {% elseif is_granted('ROLE_RECIPEDRAFT_VIEW') or is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('ibtikar_glance_dashboard_recipedraft_list_draft_recipe') }}" {% if 'recipe' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/content.png')}}" class=" position-left"/> <span> {% trans from 'recipe'%}List Recipe{% endtrans %}</span></a></li>
                            {% endif %}

                               {% if is_granted('ROLE_PRODUCT_VIEW') or is_granted('ROLE_ADMIN')%}
                                    <li><a href="{{ path('ibtikar_glance_dashboard_product_list') }}" {% if 'product' in app.request.attributes.get('_route') %}class="highlight"{% endif %}><img width="20" height="20" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/nav/products.png')}}" class=" position-left"/> <span>
منتجات قودي
                                            </span> </a></li>
                                {% endif %}

                    </ul>
                </div>
            </div>
            <!-- /task navigation -->






        </div>
    </div>
</div>
<!-- /main sidebar -->
