{% extends 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard.html.twig' %}
{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}
{% block title %}
    {% if is_favorite_list is defined %}
        {% trans %}Favourite Contant List{% endtrans %}
    {%else%}
        {{ list.listType == 'trash' ? 'View deleted items'|trans : ('List '~ listName)|trans({}, translationDomain)}}
    {%endif%}
{% endblock %}

{% block body %}
    <div class="content-wrapper">


        <!-- Basic button -->
        <div class="content-group">
            <div class="heading-elemnts">

                <div class="heading-btn-group">
                    {% block breadCrumb %}
                        <a class="btn btn-link btn-float has-text" href="Role-add.php"><i class="icon-add"></i><span>اضف دور</span></a>
                        <a class="btn btn-link btn-float has-text activeLink" href="Role-view.php"><i class="icon-table2"></i> <span>مشاهدة الادوار</span></a>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- /basic button -->



        <!-- Dashboard content -->
        <div class="row">
            <div class="col-lg-12">



                <div class="row">
                    <div class="col-md-12">
                        <!-- view roles -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">  الادوار </h5>
                                <div class="heading-elements">
                                    {% block statistic %}
                                    <span class="label bg-number heading-text">28 دور</span>
                                    <span class="label bg-number heading-text">12338 فعال</span>
                                    <span class="label bg-number heading-text">8973 غير فعال</span>
                                    {% endblock %}


                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="actions">

{% block actions %}

                                <button id="pnotify-stack-custom-top" class="btn btn-default btn-sm" type="button"> Alert</button>

                                <a data-original-title="بحث" data-placement="bottom" title="" data-popup="tooltip" id="advanced-search-Btn" class="btn btn-default btn-sm"><i class="icon-zoomin3"></i></a>

                                <a data-content="
                                   &lt;button type='button' class='btn btn-danger'&gt;نعم&lt;/button&gt;
                                   &lt;button type='button' class='btn btn-defualt'&gt;الغاء&lt;/button&gt;
                                   " data-html="true" title="" data-trigger="focus" data-popup="popover" data-placement="bottom" data-toggle="popover" role="button" class="btn btn-default btn-sm" tabindex="0" data-original-title="انت على وشك حذف (@عنوان)، هل تريد إتمام الحذف؟"> <i class="icon-trash"></i> <span class="hidden-sm position-right">مسح الادوار</span></a>

                                <a data-placement="bottom" title="" data-popup="tooltip"  data-toggle="modal"  href="javascript:void(0)" class="btn btn-default btn-sm dev-change-columns" type="button" data-original-title="خانات الجدول"><i class="icon-table2 "></i> <span class="hidden-sm"> </span></a>
                                <a data-placement="bottom" title="" data-popup="tooltip" class="btn btn-default btn-sm" data-original-title="تصدير"><i class="icon-database-export"></i> <span class="hidden-sm"></span></a>
                                <a data-placement="bottom" title="" data-popup="tooltip" class="btn btn-default btn-sm" data-original-title="عرض السجلات المحذوفة "><i class="icon-eye-blocked"></i> <span class="hidden-sm"></span></a>


                                <select class="Roleselect select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option>الكل</option>
                                    <option>فعال</option>
                                    <option>غير فعال</option>
                                </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100px;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-bcvk-container"><span class="select2-selection__rendered" id="select2-bcvk-container" title="الكل">الكل</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>




                                <div class="advanced-search searchhidden">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الاسم</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الموظف</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100%;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-gcce-container"><span class="select2-selection__rendered" id="select2-gcce-container" title="role 2">role 2</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
                                            </div>
                                        </div>
                                    </div><!-- row end -->



                                    <div style="display: none;" class="row advanced-search-more">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>	عدد الصلحيات</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100%;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-ymlg-container"><span class="select2-selection__rendered" id="select2-ymlg-container" title="role 2">role 2</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
                                            </div>

                                        </div><!-- row end -->

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">


                                            <button type="button" id="pnotify-progress" class="btn btn-primary btn-lg">بحث</button>
                                            <button id="advanced-search-more" type="button" class="btn btn-default  btn-lg">بحث مفصل</button>
                                        </div>
                                    </div>
                                </div>
        {% endblock %}

                            </div>


                            <table class="table table-hover table-striped datatable-column-search-inputs" width="100%">
                                <thead>

                                    <tr>
                                        {% if list.hasBulkActions(listName) %}
                                            <th class="text-center" data-orderable="false" data-bSortable="false" data-searchable="false">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="styled dev-checkbox-all">
                                        </label>
                                    </div>
                                </th>
                            {% endif %}
                            {% for field in list.fields %}
                                {% if field.isSortable %}
                                    <th class="" data-name="{{ field.title }}">

                                            {{ field.title|trans({}, translationDomain) }}

                                    </th>
                                {% endif%}
                            {% endfor %}
                                {% if list.hasActionsColumn(listName)  %}

                                    <th  class="text-center">العمليات</th>
                                {%endif %}
                                    </tr>


                                    </thead>
                                    <tbody>
                                        {% for object in pagination %}
                                            <tr>
                                            {% if list.hasBulkActions(listName) %}

                                                <td class="text-center">
                                                    <div class="form-group">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" class="styled dev-checkbox" data-id="{{object.id}}" >
                                                        </label>
                                                    </div>


                                                </td>
                                                {% endif %}
                                                {% for field in list.fields %}
                                                    {% if field.type == "date" %}
                                                        <td class="{{field.class}}" {% if field.isClickable %} style="cursor:pointer" onclick="window.location = '{{field.isClickable|replace({'--id--':object.document.id})}}'" {% endif %}>

                                                            {{ attribute(object, field.propertyName) is empty ? "" : attribute(object, field.propertyName)|date('Y-m-d') }}
                                                        </td>
                                                    {% else %}
                                                        <td >
                                                            {% if field.isClickable %}
                                                                <a href="javascript:void(0)" class="{{field.class}}" data-id="{{object.id}}">
                                                                {{ attribute(object, field.propertyName|humanize|title|replace({' ':''}))}}
                                                                </a>
                                                            {%else%}
                                                                {# added to fix the sorting for fields with underscore #}
                                                                {{ attribute(object, field.propertyName|humanize|title|replace({' ':''}))}}
                                                            {% endif %}

                                                        </td>
                                                    {% endif %}


                                                {% endfor %}

                                                {% if list.hasActionsColumn(listName)  %}
                                                    <td class="text-center" style="white-space: nowrap;">
                                                        {% if  object.getNotModified() is not defined  or  object.getNotModified()== false %}
                                                        {% for action in list.actions %}
                                                            {% if action == "Edit" %}
                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_EDIT') or is_granted('ROLE_ADMIN') %}

                                                                    <a class="btn btn-defualt"  href = "{{ path(prefixRoute|lower ~ '_edit', {'id': object.id}) }}" title="{{ ('Edit ' ~  sublistName)|trans({},translationDomain)}}" data-popup="tooltip"  data-placement="bottom" ><i class="icon-pencil"></i></a>
                                                                    {% endif %}
                                                            {#    {% elseif action == "Delete" %}
                                                                    {% if is_granted('ROLE_' ~ listName|upper ~'_DELETE') or is_granted('ROLE_ADMIN')%}
                                                                    <a tabindex="0" class="btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus"     title="انت علي وشك حذف comments هل ترغب في حذفه  " data-html="true"
                                                                       data-html="true" data-content="
                                                                       <button type='button' class='btn btn-danger btn-block'>و ايقاف الموظفين الذين لا ينتمون الي مجموعة و دور اخر</button>
                                                                       <button type='button' class='btn btn-danger btn-block'>و حذف الموظفين الذين لا ينتمون الي مجموعة و دور اخر</button>
                                                                       "> <i class="icon-trash"></i></a>
                                                                {% endif %}#}
                                                            {%endif%}
                                                        {% endfor %}
                                                                {#<a tabindex="0" class="btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus"     title="  هل ترغب في ايقاف الموظف  " data-html="true"
                                                                   data-html="true" data-content="
                                                                   <button type='button' class='btn btn-danger'>نعم</button>
                                                                   <button type='button' class='btn btn-defualt'>الغاء</button>
                                                                   "> <i class="icon-user-block"></i></a>#}


  {% endif  %}
                                                </td>
                                             {% endif  %}

                                            </tr>


                                        {% endfor %}




                                    </tbody>


                                </table>
                            </div>
                            <!-- /scrollable datatable -->



                        </div>

                    </div>



                </div><!-- col-lg-9 tabs -->


            </div>
            <!-- /dashboard content -->

        </div>

        {% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script>
                    var loginUrl="{{ path('ibtikar_glance_ums_staff_login')}}";
                    var notFoundUrl="{{ path('ibtikar_glance_dashboard_not_found')}}";
                    var columns ={{ columns|raw}} ;
                    var totalNumber = "{{total}}";
                    var limit ={{limit}} ;
                    var start ={{skip}} ;
                    var sort ={% if sort is defined %}{{sort|raw}}{% else %} null {%endif %};
                    var toggleButtonColor = '#D6494C';

                </script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/layout_sidebar_sticky_custom.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/uniform.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>
                <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js')}}"></script>
                <!-- datatable files -->
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/tables/datatables/datatables.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2.min.js')}}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/datatables_api.js')}}"></script>
                <script src="{{ asset('bundles/ibtikarglancedashboard/js/ajaxifyList.js') }}"></script>


                <!-- modals files -->
                {#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_modals.js')}}"></script>#}


                <!-- Drag and drop files -->
                {#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/dragula.min.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/extension_dnd.js')}}"></script>#}

                <script>
                intializeTable();
                var list = new BaseList();
                </script>


            {% endblock %}
