{% extends app.request.xmlHttpRequest ? 'IbtikarBackendBundle::ajaxLayout.html.twig' : 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard.html.twig' %}
{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}
{% block title %}
    {% if is_favorite_list is defined %}
        {% trans %}Favourite Contant List{% endtrans %}
    {%else%}
        {{ list.listType == 'trash' ? 'View deleted items'|trans : ('List '~ listName)|trans({}, translationDomain)}}
    {%endif%}
{% endblock %}

{% block body %}
    <div class="content-wrapper">


        <!-- Basic button -->
        <div class="content-group">
            <div class="heading-elemnts">
                <div class="heading-btn-group">
                    <a class="btn btn-link btn-float has-text" href="Role-add.php"><i class="icon-add"></i><span>اضف دور</span></a>
                    <a class="btn btn-link btn-float has-text activeLink" href="Role-view.php"><i class="icon-table2"></i> <span>مشاهدة الادوار</span></a>




                </div>
            </div>
        </div>
        <!-- /basic button -->



        <!-- Dashboard content -->
        <div class="row">
            <div class="col-lg-12">



                <div class="row">
                    <div class="col-md-12">
                        <!-- view roles -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">  الادوار </h5>
                                <div class="heading-elements">
                                    <span class="label bg-number heading-text">28 دور</span>
                                    <span class="label bg-number heading-text">12338 فعال</span>
                                    <span class="label bg-number heading-text">8973 غير فعال</span>


                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>
<div class="actions">


                                    <button id="pnotify-stack-custom-top" class="btn btn-default btn-sm" type="button"> Alert</button>

                                    <a data-original-title="بحث" data-placement="bottom" title="" data-popup="tooltip" id="advanced-search-Btn" class="btn btn-default btn-sm"><i class="icon-zoomin3"></i></a>

                                    <a data-content="
                                       &lt;button type='button' class='btn btn-danger'&gt;نعم&lt;/button&gt;
                                       &lt;button type='button' class='btn btn-defualt'&gt;الغاء&lt;/button&gt;
                                       " data-html="true" title="" data-trigger="focus" data-popup="popover" data-placement="bottom" data-toggle="popover" role="button" class="btn btn-default btn-sm" tabindex="0" data-original-title="انت على وشك حذف (@عنوان)، هل تريد إتمام الحذف؟"> <i class="icon-trash"></i> <span class="hidden-sm position-right">مسح الادوار</span></a>

                                        <a data-placement="bottom" title="" data-popup="tooltip"  data-toggle="modal"  href="javascript:void(0)" class="btn btn-default btn-sm dev-change-columns" type="button" data-original-title="خانات الجدول"><i class="icon-table2 "></i> <span class="hidden-sm"> </span></a>
                                    <a data-placement="bottom" title="" data-popup="tooltip" class="btn btn-default btn-sm" data-original-title="تصدير"><i class="icon-database-export"></i> <span class="hidden-sm"></span></a>
                                    <a data-placement="bottom" title="" data-popup="tooltip" class="btn btn-default btn-sm" data-original-title="عرض السجلات المحذوفة "><i class="icon-eye-blocked"></i> <span class="hidden-sm"></span></a>


                                    <select class="Roleselect select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option>الكل</option>
                                        <option>فعال</option>
                                        <option>غير فعال</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100px;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-bcvk-container"><span class="select2-selection__rendered" id="select2-bcvk-container" title="الكل">الكل</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>

                                    
                                    
                                    
                                <div class="advanced-search searchhidden">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الاسم</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>الموظف</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100%;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-gcce-container"><span class="select2-selection__rendered" id="select2-gcce-container" title="role 2">role 2</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
                                            </div>
                                        </div>
                                    </div><!-- row end -->
                                    
                                    
                                    
                                       <div style="display: none;" class="row advanced-search-more">
          
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>	عدد الصلحيات</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>البريد</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>المجموعة</label>
                                                <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">

                                                    <option value="HI">role 2</option>
                                                    <option value="CA">role 3</option>
                                                    <option value="NV">role 4</option>
                                                    <option value="WA">role 5</option>
                                                    <option value="AZ">role 6</option>
                                                    <option value="CO">role 7</option>
                                                    <option value="ID">role 8 </option>

                                                </select><span class="select2 select2-container select2-container--default" dir="rtl" style="width: 100%;"><span class="selection"><span aria-expanded="false" aria-haspopup="true" role="combobox" class="select2-selection select2-selection--single" tabindex="0" aria-labelledby="select2-ymlg-container"><span class="select2-selection__rendered" id="select2-ymlg-container" title="role 2">role 2</span><span role="presentation" class="select2-selection__arrow"><b role="presentation"></b></span></span></span><span aria-hidden="true" class="dropdown-wrapper"></span></span>
                                            </div>
                                   
                                    </div><!-- row end -->
                                    
                                       </div>
                                    
                                    <div class="row">
                                        <div class="col-xs-12">


                                            <button type="button" id="pnotify-progress" class="btn btn-primary btn-lg">بحث</button>
                                            <button id="advanced-search-more" type="button" class="btn btn-default  btn-lg">بحث مفصل</button>
                                        </div>
                                    </div>  
                                </div>

                                    
                                </div>

                            <table class="table table-hover table-striped datatable-column-search-inputs" width="100%">
                                <thead>

                                    <tr>
                                        <th class="text-center">
                                                 <div class="form-group">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" class="styled">
                                                        </label>
                                                    </div>
                                        </th>
                                        {% for field in list.fields %}
                                            {% if field.isSortable %}
                                                <th class="">
                                                    {{ field.title|trans({}, translationDomain) }}
                                                </th>
                                            {% endif%}
                                        {% endfor %}

                                        {#                                    <th  class="text-center">العمليات</th>
                                        #}                                    </tr>


                                </thead>
                                <tbody>
                                    {% for object in pagination %}
                                        <tr>
                                               <td class="text-center">
                                                   <div class="form-group">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" class="styled" data-id="{{object.id}}" >
                                                        </label>
                                                    </div>


                                                </td>
                                            {% for field in list.fields %}
                                                {% if field.type == "date" %}
                                                    <td class="{{field.class}}" {% if field.isClickable %} style="cursor:pointer" onclick="window.location = '{{field.isClickable|replace({'--id--':object.document.id})}}'" {% endif %}>

                                                        {{ attribute(object, field.propertyName) is empty ? "" : attribute(object, field.propertyName)|date('Y-m-d') }}
                                                    </td>
                                                {% else %}
                                                    <td class="{{field.class}} permissionsTooltip" {% if field.isClickable %} style="cursor:pointer" onclick="window.location = '{{field.isClickable|replace({'--id--':object.document.id})}}'" {% endif %}>

                                                        {# added to fix the sorting for fields with underscore #}
                                                        {{ attribute(object, field.propertyName|humanize|title|replace({' ':''}))}}

                                                    </td>
                                                {% endif %}


                                            {% endfor %}

                                            {#                                            <td class="text-center" style="white-space: nowrap;">
                                                                                            <a class="btn btn-defualt" href="Role-add.php" data-popup="tooltip" title="تعديل" data-placement="bottom" ><i class="icon-pencil"></i></a>

                                                                                            <a tabindex="0" class="btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus"     title="انت علي وشك حذف comments هل ترغب في حذفه  " data-html="true"
                                                                                               data-html="true" data-content="
                                                                                               <button type='button' class='btn btn-danger btn-block'>و ايقاف الموظفين الذين لا ينتمون الي مجموعة و دور اخر</button>
                                                                                               <button type='button' class='btn btn-danger btn-block'>و حذف الموظفين الذين لا ينتمون الي مجموعة و دور اخر</button>
                                                                                               "> <i class="icon-trash"></i></a>

                                                                                            <a tabindex="0" class="btn btn-defualt" role="button" data-toggle="popover"  data-popup="popover" data-trigger="focus"     title="  هل ترغب في ايقاف الموظف  " data-html="true"
                                                                                               data-html="true" data-content="
                                                                                               <button type='button' class='btn btn-danger'>نعم</button>
                                                                                               <button type='button' class='btn btn-defualt'>الغاء</button>
                                                                                               "> <i class="icon-user-block"></i></a>



                                                                                        </td>
                                            #}
                                        </tr>


                                    {% endfor %}




                                </tbody>


                            </table>
                        </div>
                        <!-- /scrollable datatable -->



                    </div>

                </div>



            </div><!-- col-lg-9 tabs -->


        </div>
        <!-- /dashboard content -->

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ibtikarbackend/js/ajaxifyList.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/loaders/blockui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/nicescroll.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/drilldown.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/layout_sidebar_sticky_custom.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/uniform.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/core/jquery.easing.min.js')}}"></script>
    <!-- datatable files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/tables/datatables/datatables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/selects/select2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/datatables_api.js')}}"></script>

    <!-- modals files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_modals.js')}}"></script>


    <!-- Drag and drop files -->
{#    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/dragula.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/extension_dnd.js')}}"></script>#}

    <script>
        var columns={{ columns|raw}};
        

                                                                        pushNewState(null, null, window.location.href);

                                                        var toggleButtonColor = '#D6494C';
                                                        {#                                var table = $('.datatable-column-search-inputs').DataTable({iDisplayLength:2});
        #}                                var ajaxData = '{{path("ibtikar_glance_dashboard_role_list")}}';

                                                        var table = $('.datatable-column-search-inputs').DataTable({

                                                            "serverSide": true,
                                                            "iDisplayLength": 2,
                                                            "destroy":true,
                                                            "processing": true,
                                                            'sAjaxSource': ajaxData,
{#                                                            "bRetrieve": true,#}
                                                            "deferLoading": "{{pageNumber}}",
                                                            "lengthMenu": [2,10, 20, 50],
                                                             "deferRender": true,
                                                             "initComplete": function(settings, json) {
  },

                                                            'fnServerData': function (sSource, aoData, fnCallback)
                                                            {
                                                                var sorting=table.order();
                                                                var order=sorting[0];
                                                                var columndir=order[1];
                                                                var columnName=$(table.column( order[0] ).header()).html().trim();
                                                                var page=parseInt(table.page(),10)+parseInt(1,10);
                                                                var url= ajaxData+'?page='+ page+'&sort='+  columnName+'&columnDir='+ columndir+'&limit=' +table.page.info().length;
                                                                if(!back){
                                                                    pushNewState(null, null, url);
                                                                }   
                                                                back=false;
                                                                aoData.push({"name": "from_date", "value": $("#from").val()},
                                                                {"name": "to_date", "value": $("#to").val()});
                                                                $.ajax
                                                                        ({
                                                                            'dataType': 'json',
{#                                                                            'type': 'POST',#}
                                                                            'url': url,
                                                                            beforeSend: function() {
                                                                                   $('div.panel-flat').block({ 
                                                                                    message: '<i class="icon-spinner2 spinner"></i>',
                                                                                    overlayCSS: {
                                                                                        backgroundColor: '#fff',
                                                                                        opacity: 0.8,
                                                                                        cursor: 'wait',
                                                                                        'box-shadow': '0 0 0 1px #ddd'
                                                                                    },
                                                                                    css: {
                                                                                        border: 0,
                                                                                        padding: 0,
                                                                                        backgroundColor: 'none'
                                                                                    }
                                                                                });
                                                                            },
{#                                                                            'data': aoData,#}
                                                                            'success': function(json){
                                                                                fnCallback(json)
                                                                                $('input[type=checkbox]').closest('td').addClass('text-center');
                                                                                setTimeout(function(){
                                                                                      $('input').uniform();
                                                                                                 $('div.panel-flat').unblock();


                                                                                },200)
                                                                            }
                                                                        });


                                                            },
                                                        columns: columns
                                                               
    {#,
         render: function (data, type, row) {

                                                                        return  '<div class="form-group">'
                                                        +'<label class="checkbox-inline">'
                                                            +'<input type="checkbox" class="styled" id='+data+ 'checked="checked">'
                                                           +' </label>  </div>'
                                                                    }#}
                                                               {# },
                                                                {data: 'name', orderable: true, bSort: true
                                                                    ,
                                                                    render: function (data, type, row) {
                                                                        return '<span class="mycus-class2">' + data + '</span>'
                                                                    }
                                                                },
                                                                {data: 'permissionscount', orderable: false},
                                                                {data: 'createdAt', orderable: true},#}
                                                            ,
                                                            dom: '<"datatable-scroll"t><"datatable-footer"lip>',
                                                            language: {
{#                                                                sProcessing: "olaaa ",
#}                                                                search: '<span>بحث:</span> _INPUT_',
                                                                lengthMenu: '_MENU_',
                                                                sLengthMenu: "اظهر _MENU_ ",
                                                                sInfo: " _START_ - _END_ من _TOTAL_ ",
                                                                sZeroRecords: "لا يوجد ما تبحث عنه",
                                                                sInfoEmpty: " 0 - 0 من 0 ",
                                                                paginate: {'first': 'الاول', 'last': 'الاخير', 'next': '&larr;', 'previous': '&rarr;'}
                                                            },
                                                            {#drawCallback: function () {
                                                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                                                            },
                                                            preDrawCallback: function () {
                                                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                                                            },#}
                    "order": [[1, 'desc']],
            })

function pushNewState(data, title, url) {
    stateChanged = true;
    history.pushState(data, title, url);
}


            var buttons = document.querySelectorAll('.switchery-primary');
            for (var i = 0, buttonsLength = buttons.length; i < buttonsLength; i++) {
                new Switchery(buttons[i], {color: toggleButtonColor});
            }

            // Select2 selects
            $('.Roleselect').select2({
                width: 100
            });



            $(function () {

                // Select2 selects
                $('.select').select2();
            });

            // advanced saerch
            $('#advanced-search-Btn').on('click', function () {
                if ($(".advanced-search").hasClass("searchhidden")) {
                    $(".advanced-search").slideDown();
                    $(".advanced-search").removeClass('searchhidden');
                } else {
                    $(".advanced-search").slideUp();
                    $(".advanced-search").addClass('searchhidden');
                    $(".advanced-search-more").slideUp();
                }

            });


            // advanced-search-more
            $('#advanced-search-more').on('click', function () {
                if ($(".advanced-search-more").hasClass("searchhidden")) {
                    $(".advanced-search-more").slideDown();
                    $(".advanced-search-more").removeClass('searchhidden');
                } else {
                    $(".advanced-search-more").slideUp();
                    $(".advanced-search-more").addClass('searchhidden');
                    $(".advanced-search-more").slideUp();
                }
            });
            var back=false;
        $(window).on("popstate", function (e) {
        if (typeof stateChanged !== "undefined" && stateChanged) {
            back=true;
            table.ajax.url(window.location.href).load();
        }
    });



var changeListColumnsUrl="{{path('ibtikar_glance_dashboard_role_change_list_columns')}}";


function saveListSelectedColumns(basicModal, url) {
    //modified to use this way instead of form serialize to fix this bug #3535:
    var str = "";
    $('.dev-columns-multi-select input:checked').each(function () {
        str += "columns[]=" + $(this).val() + "&";
    });

    $.ajax({
        url: url,
        method: 'POST',
        data: str,
        success: function (data) {
            basicModal.hide();
            console.log(data)
            table.clear()
            table.destroy();

            columns1=data.column;
            back=false;
                                                 
            var th='<th class="text-center sorting_disabled" id="dev-checkbox"> <div class="form-group">'
                                                    +'<label class="checkbox-inline"> <input type="checkbox" class="styled"  >'
                                                       +' </label>  </div>          </th>'
            $.each(columns1,function(key,column){
if(column.data!='id'){
        th+='<th data-orderable='+column.orderable+'>'+column.data+'</th>'
        }      
                
            })
            console.log(th)
            callBack=true
            table.
            $('.datatable-column-search-inputs thead tr').remove()
            $('.datatable-column-search-inputs thead').html('<tr>'+th+'</tr>')
    console.log($('.datatable-column-search-inputs thead').html())
table = $('.datatable-column-search-inputs').DataTable({

                                                            "serverSide": true,
                                                            "columnDefs": [ {
"targets": 0,
"orderable": false
} ],
                                                            "iDisplayLength": 2,
                                                            "destroy":true,
                                                            'sAjaxSource': ajaxData,
                                                            "bRetrieve": true,
{#                                                            "deferLoading": "{{pageNumber}}",#}
                                                            "lengthMenu": [2,10, 20, 50],
                                                             "deferRender": true,
                                                             "initComplete": function(settings, json) {
                                                                 $('#dev-checkbox').removeClass('sorting_asc').addClass('sorting_disabled')
                                                                   $(".dataTables_length select").select2({ 
      /* select2 options, as an example */
                                                                        minimumResultsForSearch: -1,
                                                                      width:'auto'
                                                                        });
                                                                      },

                                                            'fnServerData': function (sSource, aoData, fnCallback)
                                                            {
                                                                if(!callBack){
                                                                var sorting=table.order();
                                                                var order=sorting[0];
                                                                var columndir=order[1];
                                                                var columnName=$(table.column( order[0] ).header()).html().trim();
                                                                var page=parseInt(table.page(),10)+parseInt(1,10);
                                                                var url= ajaxData+'?page='+ page+'&sort='+  columnName+'&columnDir='+ columndir+'&limit=' +table.page.info().length;
                                                                if(!back){
                                                                    pushNewState(null, null, url);
                                                                }}else{
                                                                 var url= window.location.url;
                                                                
                                                                }
                                                                back=false;
                                                                callBack=false;
                                                                aoData.push({"name": "from_date", "value": $("#from").val()},
                                                                {"name": "to_date", "value": $("#to").val()});
                                                                $.ajax
                                                                        ({
                                                                            'dataType': 'json',
{#                                                                            'type': 'POST',#}
                                                                            'url': url,
                                                                            beforeSend: function() {
                                                                                   $('div.panel-flat').block({ 
                                                                                    message: '<i class="icon-spinner2 spinner"></i>',
                                                                                    overlayCSS: {
                                                                                        backgroundColor: '#fff',
                                                                                        opacity: 0.8,
                                                                                        cursor: 'wait',
                                                                                        'box-shadow': '0 0 0 1px #ddd'
                                                                                    },
                                                                                    css: {
                                                                                        border: 0,
                                                                                        padding: 0,
                                                                                        backgroundColor: 'none'
                                                                                    }
                                                                                });
                                                                            },
{#                                                                            'data': aoData,#}
                                                                            'success': function(json){
                                                                                fnCallback(json)
                                                                                $('input[type=checkbox]').closest('td').addClass('text-center');
                                                                                setTimeout(function(){
                                                                                      $('input').uniform();
                                                                                       $('.Roleselect').select2({
                width: 100
            });
                                                                                                 $('div.panel-flat').unblock();


                                                                                },200)
                                                                            }
                                                                        });


                                                            },
                                                        columns: columns1
                                                               
    {#,
         render: function (data, type, row) {

                                                                        return  '<div class="form-group">'
                                                        +'<label class="checkbox-inline">'
                                                            +'<input type="checkbox" class="styled" id='+data+ 'checked="checked">'
                                                           +' </label>  </div>'
                                                                    }#}
                                                               {# },
                                                                {data: 'name', orderable: true, bSort: true
                                                                    ,
                                                                    render: function (data, type, row) {
                                                                        return '<span class="mycus-class2">' + data + '</span>'
                                                                    }
                                                                },
                                                                {data: 'permissionscount', orderable: false},
                                                                {data: 'createdAt', orderable: true},#}
                                                            ,
                                                            dom: '<"datatable-scroll"t><"datatable-footer"lip>',
                                                            language: {
{#                                                                sProcessing: "olaaa ",
#}                                                                search: '<span>بحث:</span> _INPUT_',
                                                                lengthMenu: '_MENU_',
                                                                sLengthMenu: "اظهر _MENU_ ",
                                                                sInfo: " _START_ - _END_ من _TOTAL_ ",
                                                                sZeroRecords: "لا يوجد ما تبحث عنه",
                                                                sInfoEmpty: " 0 - 0 من 0 ",
                                                                paginate: {'first': 'الاول', 'last': 'الاخير', 'next': '&larr;', 'previous': '&rarr;'}
                                                            },
                                                            {#drawCallback: function () {
                                                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
                                                            },
                                                            preDrawCallback: function () {
                                                                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
                                                            },#}
{#                    "order": [[2, 'desc']],#}
            })


            
{#            stateChangeHandler();#}
        }
    });
}

/**
 * @returns {BaseList}
 */
function BaseList() {

    this.showColumnOptionsModal = function () {
        var basicModal = new BasicModal();
        basicModal.show(changeListColumnsUrl, function () {
            $(".dev-save-columns").click(function () {
                saveListSelectedColumns(basicModal, changeListColumnsUrl);
            })
        });
    }


    /* Binding events */
    var thisObject = this;


    $('div.panel-flat').on('click', '.dev-change-columns', function () {
        console.log('dddd')
        thisObject.showColumnOptionsModal();
    });





}

function BasicModal() {
    var thisObject = this;
    this.hideCallback;
    this.show = function (url, callback, params) {
        $('#modal_theme_primary').on('hidden.bs.modal', function () {
            thisObject.hide();
        });
        $.ajax({
            url: url,
            method: 'GET',
            data: params,
            success: function (data) {
                if (data.status == 'failed-reload') {
                    thisObject.hide();
                    var numOfRecords = $('tr[data-id]').length;
                    var pageNum = getQueryVariable('page');
                    if (pageNum !== 1 && numOfRecords === 1) {
                        retunToPreviousPage(pageNum);
                    } else {
                        stateChangeHandler();
                    }
                    return;
                }
                if (data.status == "error") {
                    showAlertBox(data.message);
                    return;
                }
                var basicModal = $('#modal_theme_primary');
                basicModal.find('.modal-content').html(data);
             

                $('select.select2').on('select2-close', function () {
                    $('#basicModal').attr('tabindex', '-1');
                }).on("select2-open", function () {
                    $('#modal_theme_primary').removeAttr('tabindex');
                });
                callback();
                basicModal.modal({keyboard: true})
                basicModal.modal('show');
            }
        });
    }
    this.hide = function () {
        $('#modal_theme_primary .select2').select2('destroy');
        $('#modal_theme_primary').modal('hide');
        if (thisObject.hideCallback !== undefined)
            thisObject.hideCallback();
    }
    this.onHide = function (callback) {
        thisObject.hideCallback = callback;
    }
}
            var list = new BaseList();

 $(document).ready(function() {


     
        });
    </script>


{% endblock %}
