{% extends ':List:baseList.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/js/plugins/datetimepicker/bootstrap-datetimepicker.min.css') }}"/>
{% endblock %}

{% block statistic %}
    <div class="row">

        <div class="col-md-12">
            {% if is_granted('ROLE_' ~ roomName|upper ~ 'ROOM_MANAGE') or is_granted('ROLE_ADMIN')%}
            <a class="progress-button btn-add" href="{{ path('room_' ~ roomName|lower ~ '_assign') }}">{{ 'Add Staff To %r Room'|trans({'%r': roomName|title|trans({}, translationDomain)}, translationDomain) }}</a>
            {% endif %}
            {% if  roomName|lower != "published" %}
            <div class="news-room-numbers">

                <a href="{% if 'room_archive_list' in app.request.attributes.get('_route') %}{{ path(listName|lower~'_list_deleted_material') }}{% else %}{{ path(listName|lower~'_list_new_material') }}{% endif %}" class="{% if 'room_news_list' in app.request.attributes.get('_route') or 'room_publish_list' in app.request.attributes.get('_route') %}col-md-3{% else %}col-md-4{% endif %} col-xs-12 news-room-new{% if 'list_new_material' in app.request.attributes.get('_route') or 'list_deleted_material' in app.request.attributes.get('_route') %} news-room-active{% endif %}">
                    {% if 'room_archive_list' in app.request.attributes.get('_route') %}
                        <p class="row-stat-label">{% trans from translationDomain %}Deleted Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ deletedMaterialCount }}</h3>
                    {% else %}
                        <p class="row-stat-label">{% trans from translationDomain %}New Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ newMaterialCount }}</h3>
                    {% endif %}
                </a>
                {% if 'room_news_list' in app.request.attributes.get('_route') %}
                    <a href="{{ path(listName|lower~'_list_visitor_material') }}" class="col-md-3 col-xs-12 news-room-new{% if 'list_visitor_material' in app.request.attributes.get('_route') %} news-room-active{% endif %}">
                        <p class="row-stat-label">{% trans from translationDomain %}Visitor Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ visitorMaterialCount }}</h3>

                    </a>
                {% endif %}
                <a href="{% if 'room_archive_list' in app.request.attributes.get('_route') %}{{ path(listName|lower~'_list_unpublished_material') }}{% else %}{{ path(listName|lower~'_list_backward_material') }}{% endif %}" class="{% if 'room_news_list' in app.request.attributes.get('_route') or 'room_publish_list' in app.request.attributes.get('_route') %}col-md-3{% else %}col-md-4{% endif %} col-xs-12 news-room-back{% if 'list_backward_material' in app.request.attributes.get('_route') or 'list_unpublished_material' in app.request.attributes.get('_route') %} news-room-active{% endif %}">
                    {% if 'room_archive_list' in app.request.attributes.get('_route') %}
                        <p class="row-stat-label">{% trans from translationDomain %}Unpublished Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ unpublishedMaterialCount }}</h3>
                    {% else %}
                        <p class="row-stat-label">{% trans from translationDomain %}Backward Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ backwardMaterialCount }}</h3>
                    {% endif %}
                </a>

                <a href="{{ path(listName|lower~'_list_assigned_material') }}" class="{% if 'room_news_list' in app.request.attributes.get('_route') or 'room_publish_list' in app.request.attributes.get('_route') %}col-md-3{% else %}col-md-4{% endif %} col-xs-12 news-room-assign{% if 'list_assigned_material' in app.request.attributes.get('_route') %} news-room-active{% endif %}">
                    <p class="row-stat-label">{% trans from translationDomain %}Assigned Materials{% endtrans %}</p>
                    <h3 class="row-stat-value">{{ assignedMaterialCount }}</h3>
                </a>

                {% if 'room_publish_list' in app.request.attributes.get('_route') %}
                    <a href="{{ path(listName|lower~'_list_autopublish_material') }}" class="col-md-3 col-xs-12 news-room-new{% if 'list_autopublish_material' in app.request.attributes.get('_route') %} news-room-active{% endif %}">
                        <p class="row-stat-label">{% trans from translationDomain %}autopublish Materials{% endtrans %}</p>
                        <h3 class="row-stat-value">{{ autopublishMaterialCount }}</h3>

                    </a>
                {% endif %}
            </div>
                 {% endif %}
        </div>
    </div>

{% endblock %}

{% block searchList %}
    <span class="closeSearch">
        <img src="{{ asset('design/admin-panel/img/photos/close.png') }}" alt="search"/>
    </span>
    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-eye"></i>
            {% trans %} Category {% endtrans %}
        </label>
        <div>
            <select class="form-control select2 dev-category_select">
                <option value="0">{% trans from translationDomain %}All{% endtrans %}</option>
                {% for key,value in categories %}
                    <option {% if(value.parent == null) %}class="option-select"{% endif %} value="{{ value.id }}" {% if category_selected == value.id and search %} selected {% endif %}>{{ value }}</option>
                {% endfor%}
            </select>
        </div>
    </div><!-- /.form-group -->
    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-eye"></i>
            {% trans %} Country {% endtrans %}
        </label>
        <div>
            <select class="form-control select2 dev-country_select">
                <option value="0">{% trans from translationDomain %}All{% endtrans %}</option>
                {% for key,value in countries %}
                <option value="{{ value.id }}" {% if country_selected == value.id and search %} selected {% endif %}>{{ value }}</option>
                {#{% if country_selected == key %} selected{% endif %}#}
                {% endfor%}
            </select>
        </div>
    </div><!-- /.form-group -->
    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-eye"></i>
            {% trans %} City {% endtrans %}
        </label>
        <div>
            <select class="form-control select2 dev-city_select">
                <option value="0">{% trans from translationDomain %}Choose City{% endtrans %}</option>
                {% if cities is defined %}
                {% for key,value in cities %}
                    <option value="{{ value.id }}" {% if city_selected == value.id and search %} selected=""{% endif %}>{{ value }}</option>
                {% endfor%}
                {% endif %}

            </select>
        </div>
    </div><!-- /.form-group -->
    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-eye"></i>
            {% trans from translationDomain %}Created by{% endtrans %}
        </label>
        <input type="text" name="name" data-provide="typeahead" autocomplete="off" placeholder="{% trans from translationDomain %} Created by {% endtrans %}"
                   class="form-control input-sm show dev-search-createdBy" value="{% if created_selected and search %}{{ created_selected }}{% endif %}">
    </div><!-- /.form-group -->
    <div class="clearfix"></div>
    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-eye"></i>
            {% trans %}Reporter{% endtrans %}/{% trans %}Author{% endtrans %}
        </label>
        <div>
            <select class="form-control select2 dev-author_select">
                <option value="0">{% trans from translationDomain %}All{% endtrans %}</option>
                {% for key,value in authors %}
                <option value="{{ value.id }}" {% if author_selected == value.id and search %} selected {% endif %}>{{ value }}</option>
                {% endfor%}
            </select>
        </div>
    </div><!-- /.form-group -->

    <div class="form-group col-md-3">
        <label>
            <i class="fa fa-calendar"></i>
            {% trans %} From date {% endtrans %}
        </label>
        <div>
            <div class="input-group date ui-datepicker">
                <input type="text"  disabled="disabled" class="form-control parsley-validated dev-date_from" value="{{dateFrom_selected}}" id="dpd1" placeholder="{% trans %} From date {% endtrans %}">
                <span class="input-group-addon dev-close-calender"><i class="fa fa-times"></i></span>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div><!-- /.form-group -->

     <div class="form-group col-md-3">
        <label>
            <i class="fa fa-calendar"></i>
            {% trans %} To date {% endtrans %}
        </label>
        <div>
            <div class="input-group date ui-datepicker">
                <input type="text"  disabled="disabled"  class="form-control parsley-validated dev-date_to" value="{{dateTo_selected}}" id="dpd2" placeholder="{% trans %} To date {% endtrans %}">
                <span class="input-group-addon dev-close-calender"><i class="fa fa-times"></i></span>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div><!-- /.form-group -->
    {% if roomTab is defined and roomTab == 'list_deleted_material' %}
        <div class="form-group col-md-3">
            <label>
                <i class="fa fa-eye"></i>
                {% trans from translationDomain %}Reason{% endtrans %}
            </label>
            <div>
                <select class="form-control select2 dev-resone_select">
                    <option value="0">{% trans from translationDomain %}All{% endtrans %}</option>
                    {% for key,value in resones %}
                    <option value="{{value|trans({},'deleteReasons')}}" {% if resones_selected == value|trans({},'deleteReasons') and search %} selected {% endif %}>{{value|trans({},'deleteReasons')}}</option>
                    {% endfor%}
                </select>
            </div>
        </div><!-- /.form-group -->
    {% endif %}
    {% if roomName|lower == 'published' %}
        <div class="form-group col-md-3">
            <label>
                <i class="fa fa-eye"></i>
                {% trans from translationDomain %}Publish locations{% endtrans %}
            </label>
            <div>
                <select class="form-control select2 dev-location_select">
                    <option value="0">{% trans from translationDomain %}All{% endtrans %}</option>
                    {% for key,value in publishLocations %}

                    <option value="{{value }}" {% if publishLocation_selected == value and search %} selected {% endif %}>{{value|trans({},'publishLocations')}}</option>
                    {% endfor%}
                </select>
            </div>
        </div><!-- /.form-group -->
    {% endif %}

    <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary dev-search-submit">  <i class="fa fa-search"></i>
            {% trans %} Search {% endtrans %}
        </button>
    </div>


{% endblock %}

{% block documentReady %}
{#  DONOT call parent to avoid redeclaring baselist object  #}
    <script src="{{ asset('js/plugins/autocomplete/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ asset('/js/plugins/datetimepicker/moment.min.js') }}"></script>
    <script src="{{ asset('/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        var unPublishUrl = '{{ path('room_published_unpublish_material') }}';
        var assign=true;
        var countryCitiesOptionsUrl = '{{ path('backend_country_cities_options') }}';

        roomMessages.roomName= '{{roomName|title|trans({}, translationDomain)}}';
        {% if roomName|lower != "published" %}
            var forwardToUrl = "{{path(listName|lower~'_forward')}}";
            {% if 'room_archive_list' not in app.request.attributes.get('_route') %}
            var backwardUrl = "{{path(listName|lower~'_backward')}}";
            {% endif %}

        {% endif %}
        var publishUrl = "{{path(listName|lower~'_publish')}}";

        var deleteUrl = "{{path(listName|lower~'_delete')}}";
        var deleteMaterialWithUpdate = "{{path(listName|lower~'_delete_update')}}";

        roomList = new RoomList('{{roomName}}',roomMessages,'list');

        roomList.confirmDeleteBulk = function(){
                    roomList.showDeleteModal();
        }

        function filterCitySelectByCountry() {
            country = $('.dev-country_select option:selected').val();
            if(country == "0") {
                $('.dev-city_select').html('<option value="0">اختر المدينة</option>').select2('destroy');
                $('.dev-city_select').select2();
                $('.dev-city_select').select2('disable');
                return false;
            }
            $('.dev-city_select').select2('enable');
            $.ajax({
                url: countryCitiesOptionsUrl + '?countryCode=' + country,
                success: function(data) {
                    $('.dev-city_select').html(data).select2('destroy');
                    $('.dev-city_select').select2();
                }
            });
        }

        function updateTable(url){
            ajaxUpdateTable(url,{elm:$('#bulk-form')}, function() {
                target_admin.init();
                initSelect2();
                $(".searchBox").show();
            });
            pushNewState(null,null,url);
        }

        function initializeAutoComplete() {
            $(".dev-search-createdBy").typeahead({
                items:{{ item_per_autocompelete }},
                source: function (typeahead, process) {
                    return $.ajax({
                        url:'{{path('users_names')}}',
                        data: {name: $('.dev-search-createdBy').val()},
                        success: function(json) {
                            return  process(json);
                        }
                    });
                }
            });
        }

        function initializeSearchBox(){
            initializeAutoComplete();
            $(".search_btn").on("click",function() {
                $(".searchBox").toggle();
            });
        }

        $('body').on("listCallback", function() {
            initializeSearchBox();
            initSelect2();
            if($('.dev-country_select').select2('data').id == "0")
                $('.dev-city_select').select2('disable')
        });

        $(document).ready(function(){
            initializeSearchBox();
            initializeAutoComplete();
            if($('.dev-country_select').select2('data').id == "0") {
                $('.dev-city_select').select2('disable')
            }

            // refresh rooms lists every 20 seconds
            setInterval(function(){
                // cehck if any modal is shown
                if($('.modal').hasClass('in'))
                    return;

                // check if multi action checked
                if($('.dev-list-check :checked').length > 0)
                    return;

                if(!$('.searchBox:visible').length == 0)
                    return;

                refreshList();

            }, {{ refresh_list }} * 1000);

            $(document).on('change', '.dev-country_select', filterCitySelectByCountry );

            $('#leftSide').on('click', '.dev-search-submit', function() {
                var url = window.location.pathname;
                var queryStringFlag = false;
                var categoryId = $('.dev-category_select').select2('data').id;
                if(categoryId !== '0') {
                    url += '?category=' + categoryId;
                    queryStringFlag = true;
                }
                var countryId = $('.dev-country_select').select2('data').id;
                if(countryId !== '0') {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'country=' + countryId;
                    queryStringFlag = true;
                }
                var cityId = $('.dev-city_select').select2('data').id;
                if(cityId !== '0') {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'city=' + cityId;
                    queryStringFlag = true;
                }
                var createdBy = $('.dev-search-createdBy').val();
                if(createdBy) {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'createdBy=' + encodeURIComponent(createdBy);
                    queryStringFlag = true;
                }
                var authorId = $('.dev-author_select').select2('data').id;
                if(authorId !== '0') {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'author=' + authorId;
                    queryStringFlag = true;
                }

                var dateFrom = $('.dev-date_from').val();
                if(dateFrom) {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'from='+encodeURIComponent(dateFrom);
                    queryStringFlag = true;
                }

                var dateTo= $('.dev-date_to').val();
                if(dateTo) {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'to='+encodeURIComponent(dateTo);
                    queryStringFlag = true;
                }
            {% if roomName|lower == 'published' %}
                     var location = $('.dev-location_select').select2('data').id;
                if(location !== '0') {
                    url += (queryStringFlag) ? "&" : "?";
                    url += 'locations=' + location;
                    queryStringFlag = true;
                }
            {% endif %}

                {% if roomTab is defined and roomTab == 'list_deleted_material' %}
                    var reason = $('.dev-resone_select').select2('data').id;
                    if(reason !== '0') {
                        url += (queryStringFlag) ? "&" : "?";
                        url += 'reason=' + reason;
                        queryStringFlag = true;
                    }
                {% endif %}

                updateTable(url);
            });

            $("body").on("click",".closeSearch",function() {
                $(".searchBox").slideUp();
                    if(!isDefaultSearchForm("search-form")) {
                        $('.searchBox select').select2('val', '0').trigger('change');
                        $('.searchBox input').val('0');

                        var url = window.location.pathname;

                        ajaxUpdateTable(url,{elm:$('#bulk-form')}, function() {
                            target_admin.init();
                            initSelect2();
                        });
                        pushNewState(null,null,url);
                    }
            });
        });
    </script>
{% endblock %}
