{% extends 'IbtikarGlanceDashboardBundle::formLayout.html.twig' %}



{% block form_container %}



                                    {{ form_start(form)}}


                                    <div class="row">


                                            <div class="col-md-12">

                                                <h5>ادخل
                                                    الصور المطلوبة
                                                </h5>


                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <tbody>
                                                            <tr>
                                                                <td style="width: 150px">

                                                                    <div class="thumbnail">
                                                                        <div class="thumb thumb-slide">
                                                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">
                                                                            <div class="caption">
                                                                                <span>
                                                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </td>
                                                                <td class="thumbnail-caption">
                                                                    <h4>  صورة المنتج</h4>
                                                                    <ul class="text-grey-300">
                                                                        <li> المقاس : 200 X 200</li>
                                                                        <li> الحجم : 300 MB</li>
                                                                    </ul>
                                                                </td>
                                                                <td style="width: 300px">
                                                                    <a class="btn btn-defualt upload-image-modal-open" data-name="profile" > رفع الصورة</a>
                                                                    <a class="btn btn-defualt"  >  <i class="icon-crop"></i> </a>
                                                                    <a class="btn btn-defualt"  > <i class="icon-trash"></i></a>


                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td style="width: 150px">
                                                                    <div class="thumbnail">
                                                                        <div class="thumb thumb-slide">
                                                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">
                                                                            <div class="caption">
                                                                                <span>
                                                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </td>
                                                                <td class="thumbnail-caption">
                                                                    <h4>  صورة الغلاف</h4>
                                                                    <span class="help-block"> PNG · 1.44 KB · 30 × 30 Added Oct 25, 2016 5:26 am by ola hamdy </span>
                                                                </td>
                                                                <td style="width: 300px">
                                                                    <a class="btn btn-defualt upload-image-modal-open" data-name="coverPhoto" > رفع الصورة</a>
                                                                    <a class="btn btn-defualt"  >  <i class="icon-crop"></i> </a>
                                                                    <a class="btn btn-defualt"  > <i class="icon-trash"></i></a>


                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <hr>
                                            <div class="tabbable">
                                            <ul class="nav nav-tabs nav-tabs-highlight">
                                                <li class="active"><a href="#arabic" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}" alt="arabic" width="30" height="20"/></a></li>
                                                <li><a href="#english" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}" alt="english" width="30" height="20"/></a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="arabic">


                                                     {{ form_row(form.name) }}



                                                   {{ form_row(form.description) }}



                                                </div><!-- arabic end -->

                                                <div class="tab-pane" id="english">


                                                      {{ form_row(form.nameEn) }}



                                                   {{ form_row(form.descriptionEn) }}


                                                </div><!-- english end -->

                                            </div>
                                        </div>


                        {{ form_end(form) }}


{% endblock %}
{% block form_buttons %}
                    <div class="row actionButtons">
                    <div class="col-xs-12">
                        <button class="btn btn-primary  dev-form-submit-btn" type="button">{% trans %}Save{% endtrans %}<i class="icon-checkmark4 position-right"></i></button>
                        <a class="btn btn-primary" href="Subproduct-add.php">حفظ و اضافة منتج فرعي<i class="icon-plus2 position-right"></i></a>

                        <button class="btn btn-defualt dev-form-reset-button" type="button">{% trans %}Reset{% endtrans %}<i class="icon-cross2 position-right"></i></button>



                    </div>
                </div>
{% endblock %}


{% block javascripts %}
    <!-- uploadImg modal -->
<div id="uploadImg" class="modal fade">
    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"> الصورة
                </h6>
            </div>

            <div class="modal-body">

                <div id="image-cropper-modal">
                    <!-- This is where the preview image is displayed -->
                    <div class="cropit-preview"></div>

                    <!-- This range input controls zoom -->


                    <div class="controls-wrapper">
                        <div class="rotation-btns">
                            <span class="icon-rotate-cw2 rotate-ccw-btn"></span>
                            <span class="icon-rotate-ccw2 rotate-cw-btn"></span>
                        </div>


                        <!-- You can add additional elements here, e.g. the image icons -->
                        <div class="slider-wrapper">
                            <span class="icon icon-image2 smallIcon"></span>
                            <input type="range" min="0" max="50" value="5" step="5" class="cropit-image-zoom-input" />
                            <span class="icon icon-image2 bigIcon"></span>
                        </div>
                    </div><!-- controls-wrapper -->

                    <!-- This is where user selects new image -->
                    <input type="file" class="cropit-image-input" />

                    <!-- The cropit- classes above are needed
                         so cropit can identify these elements -->
                </div>

            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-link dev-submit-image"><i class="icon-checkmark4 text-success"></i></button>
                <button type="button" class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 text-danger-400"></i></button>

            </div>
        </div>
    </div>
</div>
<!-- /uploadImg modal -->



    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/media/fancybox.min.js')}}"></script>

<script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_thumbnails.js')}}"></script>


<!-- Plugin file uploaded JS -->
<script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.js')}}"></script>
        <script src="https://apis.google.com/js/client.js?onload=initgapi"></script>


<script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/jquery.cropit.js')}}"></script>

    <script>

    var cropperPluginInitialized = false;
    var url  = "{{ path('ibtikar_glance_dashboard_media_upload',{'type':'image','documentId':'null','collectionType':'Product'})}}";
      var element;
    $(function() {




        $('.upload-image-modal-open').on('click', function() {
         element =$(this).attr('data-name');
            $('#uploadImg .cropit-image-input').click();
            if (cropperPluginInitialized) {
                return;
            }
            $('#image-cropper-modal').cropit({imageBackground: true,
                imageBackgroundBorderWidth: 30});

            // Handle rotation
            $('.rotate-cw-btn').click(function() {
                $('#image-cropper-modal').cropit('rotateCW');
            });
            $('.rotate-ccw-btn').click(function() {
                $('#image-cropper-modal').cropit('rotateCCW');
            });


            $('#uploadImg .cropit-image-input').change(function() {
                $('#uploadImg').modal('show');
            });
            cropperPluginInitialized = true;
        });

        $('.image-editor').cropit({
            imageState: {
                src: 'assets/images/cover.jpg'
            }
        });


    });
    $(document).ready(function(){
        $(document).on('click','.dev-submit-image',function(){
            var imageFile = $('#image-cropper-modal').cropit('export')
            console.log($('input[type=file]')[0].files[0])
            console.log(imageFile)

             var formData = new FormData();
             formData.append("media[file]", imageFile);

             $.ajax({
               url: url,
               type: 'POST',
               data: formData,
               async: false,
               cache: false,
               contentType: false,
               processData: false,
               success: function (status) {
                console.log(status)
               }
             });

        })
    })




    </script>

{% endblock %}