{% extends 'IbtikarGlanceDashboardBundle::formLayout.html.twig' %}



{% block form_container %}
 {% form_theme form   'IbtikarGlanceDashboardBundle::form_theme_recipe.html.twig' %}



    {{ form_start(form)}}

    {{ form_row(form.coverType) }}


    <div class="row">
  {% set deleteAttrs = popover_factory(deletePopoverConfig is defined?deletePopoverConfig:[]) %}

        <div class="col-md-12">

            <h5>ادخل
                الصور المطلوبة
            </h5>


            <div class="table-responsive">
                <table class="table table-bordered">

                    <tbody>
                        <tr id="dev-coverPhoto">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">
                                        {% if coverImage is not empty %}
                                            <img src="{{ asset(coverImage.getWebPath())}}" alt="">
                                        {% else %}
                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">

                                        {% endif %}
                                        <div class="caption">
                                            <span>
                                                {% if coverImage is not empty %}
                                                    <a href="{{ asset(coverImage.getWebPath())}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% else %}
                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% endif %}                                                                                </span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td class="thumbnail-caption">
                                <h4>  صورة الغلاف</h4>
                                <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li> يجب الا تقل ابعاد الصورة عن 1170*600 </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>
                            </td>
                            <td style="width: 300px" data-name="coverPhoto">
                                {% if coverImage is empty %}
                                <a class="btn btn-default upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
                                 {% endif %}
                                 <a class="btn btn-default  dev-crop-images"   {% if coverImage is empty %}style="display: none"{%else %} data-image-id="{{ coverImage.id }}" data-crop-url="{{ path('ibtikar_glance_dashboard_media_crop',{'id':coverImage.id,'collectionType':'Product'})}}"{%endif%}  >  رفع الصورة </a>
                                <a class="btn btn-default dev-trash-image" {% if coverImage is empty %}style="display: none" {%else %} data-image-id="{{ coverImage.id }}"   data-href = "{{ path('ibtikar_glance_dashboard_media_delete', {'id': coverImage.id,'collectionType':'Product'}) }}" {{ deleteAttrs|replace({'%title%': 'image'|trans({},translationDomain)})|raw }} {%endif%}> <i class="icon-trash"></i></a>


                            </td>
                        </tr>
                        <tr id="dev-coverVideo" style="display: none;">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">

                                        {% if coverVideo is not empty %}
                                            <img src="https://i.ytimg.com/vi/{{ coverVideo.vid }}/hqdefault.jpg" alt="">

                                        {% else %}
                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">

                                        {% endif %}
                                        <div class="caption">
                                            <span>
                                                {% if coverVideo is not empty %}
                                                    <a href="https://i.ytimg.com/vi/{{ coverVideo.vid }}/hqdefault.jpg" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% else %}
                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </td>


                            <td class="thumbnail-caption">
                                <h4>أضف رابط الفيديو</h4>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        {{ form_widget(form.video) }}
                                    </div>
                                </div>
                            </td>
                            <td style="width: 300px" data-name="coverVideo">
                                {% if coverVideo is empty %}
                                    <a class="btn btn-default dev-upload-video"  > رفع الفيديو</a>
                                {% endif %}
                                <a class="btn btn-default dev-upload-video"   {% if coverVideo is empty %}style="display: none"{%else%} data-video-id="{{ coverVideo.id }}" data-crop-url="{{ path('ibtikar_glance_dashboard_media_crop',{'id':coverVideo.id,'collectionType':'Competition'})}}"{%endif%}   >   تغير الفيديو </a>


                            </td>

                        </tr>
                        <tr id="dev-profilePhoto">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">

                                        {% if profileImage is not empty %}
                                            <img src="{{ asset(profileImage.getWebPath())}}" alt="">

                                        {% else %}
                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">

                                        {% endif %}
                                        <div class="caption">
                                            <span>
                                                {% if profileImage is not empty %}
                                                    <a href="{{ asset(profileImage.getWebPath())}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% else %}
                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </td>
                            <td class="thumbnail-caption">
                                <h4>  صورة المنتج</h4>
                                <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li> يجب الا تقل ابعاد الصورة عن 1170*600 </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>
                            </td>
                            <td style="width: 300px" data-name="profilePhoto">
                                {% if profileImage is empty %}
                                    <a class="btn btn-default upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
                                {% endif %}
                                <a class="btn btn-default dev-crop-images"   {% if profileImage is empty %}style="display: none"{%else%} data-image-id="{{ profileImage.id }}" data-crop-url="{{ path('ibtikar_glance_dashboard_media_crop',{'id':profileImage.id,'collectionType':'Product'})}}"{%endif%}   >  رفع الصورة </a>
                                <a class="btn btn-default dev-trash-image" {% if profileImage is empty %}style="display: none" {%else%}  data-image-id="{{ profileImage.id }}"  data-href = "{{ path('ibtikar_glance_dashboard_media_delete', {'id': profileImage.id,'collectionType':'Product'}) }}" {{ deleteAttrs|replace({'%title%': 'image'|trans({},translationDomain)})|raw }} {%endif%} > <i class="icon-trash"></i></a>


                            </td>
                        </tr>
    <tr id="dev-bannerPhoto">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">

                                        {% if bannerImage is not empty %}
                                            <img src="{{ asset(bannerImage.getWebPath())}}" alt="">

                                        {% else %}
                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">

                                        {% endif %}
                                        <div class="caption">
                                            <span>
                                                {% if bannerImage is not empty %}
                                                    <a href="{{ asset(bannerImage.getWebPath())}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% else %}
                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td class="thumbnail-caption">
                                <h4>  صورة الاعلان</h4>
                                <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li> يجب الا تقل ابعاد الصورة عن 1170*600 </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>
                            </td>
                            <td style="width: 300px" data-name="bannerPhoto">
                                {% if bannerImage is empty %}
                                    <a class="btn btn-default upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
                                {% endif %}
                                <a class="btn btn-default dev-crop-images"   {% if bannerImage is empty %}style="display: none"{%else%} data-image-id="{{ bannerImage.id }}" data-crop-url="{{ path('ibtikar_glance_dashboard_media_crop',{'id':bannerImage.id,'collectionType':'Product'})}}"{%endif%}   >  رفع الصورة </a>
                                <a class="btn btn-default dev-trash-image" {% if bannerImage is empty %}style="display: none" {%else%}  data-image-id="{{ bannerImage.id }}"  data-href = "{{ path('ibtikar_glance_dashboard_media_delete', {'id': bannerImage.id,'collectionType':'Product'}) }}" {{ deleteAttrs|replace({'%title%': 'image'|trans({},translationDomain)})|raw }} {%endif%} > <i class="icon-trash"></i></a>


                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>

                {{ form_row(form.bannerUrl) }}

    <hr>
    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active"><a href="#arabic" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}" alt="arabic" width="30" height="20"/></a></li>
            <li><a href="#english" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}" alt="english" width="30" height="20"/></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="arabic">


                {{ form_row(form.name) }}



{#                {{ form_row(form.description) }}#}
                                {{ form_row(form.about) }}


{#                {{ form_row(form.images) }}#}

            </div><!-- arabic end -->

            <div class="tab-pane" id="english">


                {{ form_row(form.nameEn) }}



{#                {{ form_row(form.descriptionEn) }}#}
                                {{ form_row(form.aboutEn) }}



            </div><!-- english end -->

        </div>
    </div>
    {{form_row(form.submitButton)}}
    {{ form_end(form) }}


{% endblock %}
{% block form_buttons %}
    <div class="row actionButtons">
        <div class="col-xs-12">
            <button class="btn btn-primary  dev-form-submit-btn dev-save" type="button">{% trans %}Save{% endtrans %}<i class="icon-checkmark4 position-right"></i></button>
            {% if app.user  and (is_granted('ROLE_SUBPRODUCT_CREATE') or is_granted('ROLE_ADMIN'))  %}
            <button  class="btn btn-primary dev-form-submit-btn dev-save-add" type="button">حفظ و اضافة منتج فرعي<i class="icon-plus2 position-right"></i></button>
            {% endif %}
            <button class="btn btn-default dev-form-reset-button" type="button">{% trans %}Reset{% endtrans %}<i class="icon-cross2 position-right"></i></button>



        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <!-- uploadImg modal -->
    <div id="uploadImg" class="modal fade">
        <div class="modal-dialog  modal-full">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> الصورة
                    </h6>
                </div>

                <div class="modal-body">

                    <div id="image-cropper-modal">
                        <!-- This is where the preview image is displayed -->
                        <div class="cropit-preview"></div>

                        <!-- This range input controls zoom -->


                        <div class="controls-wrapper">
                            <div class="rotation-btns">
                                <span class="icon-rotate-cw2 rotate-ccw-btn"></span>
                                <span class="icon-rotate-ccw2 rotate-cw-btn"></span>
                            </div>


                            <!-- You can add additional elements here, e.g. the image icons -->
                            <div class="slider-wrapper">
                                <span class="icon icon-image2 smallIcon"></span>
                                <input type="range" min="0" max="50" value="5" step="5" class="cropit-image-zoom-input" />
                                <span class="icon icon-image2 bigIcon"></span>
                            </div>
                        </div><!-- controls-wrapper -->

                        <!-- This is where user selects new image -->
                        <input type="file" class="cropit-image-input" />

                        <!-- The cropit- classes above are needed
                             so cropit can identify these elements -->
                    </div>

                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-link dev-crop-spinner" style="display: none"><i class="spinner icon-spinner text-success"></i></button>
                    <button type="button" class="btn btn-link dev-submit-image" data-url="" data-id=""><i class="icon-checkmark4 text-success"></i></button>
                    <button type="button" class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 text-danger-400"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /uploadImg modal -->

 {% set imageTempelate %}
            <tr id="dev-%name%">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">
                                            <img src="%image-url%" alt="">
                                        <div class="caption">
                                            <span>
                                            <a href="%image-url%" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td class="thumbnail-caption">
                                <h4>   %arabicName%</h4>
                                <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li>  %errorDimission%  </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>
                            </td>
                            <td style="width: 300px" data-name="%name%">
                                %uploadButton%
                                %cropButton%
                                %deleteButton%


                            </td>

                        </tr>

    {% endset %}
     {% set uploadButton %}
        <a class="btn btn-default upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
     {% endset %}
     {% set cropButton %}
        <a class="btn btn-default dev-crop-images"    data-image-id="%image-id%" data-crop-url="%crop-url%">  رفع الصورة </a>
     {% endset %}
     {% set deleteButton %}
         <a class="btn btn-default dev-trash-image" data-image-id="%image-id%"  data-href = "%image-delete-url%"  %pop-block%> <i class="icon-trash"></i></a>
         {% endset %}


    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/media/fancybox.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_thumbnails.js')}}"></script>


    <!-- Plugin file uploaded JS -->
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.js')}}"></script>


    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/jquery.cropit.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/product.js') }}"></script>

    <script>

        var imageTempelate = '{{ imageTempelate|escape('js') }}';
        var cropButton = '{{ cropButton|escape('js') }}';
        var deleteButton = '{{ deleteButton|escape('js') }}';
        var uploadButton = '{{ uploadButton|escape('js') }}';
        var cropperPluginInitialized = false;
        var uploadUrl = "{{ path('ibtikar_glance_dashboard_media_upload',{'type':'image','documentId':app.request.get('id'),'collectionType':'Product'})}}";
        var youtubeUploadVideo = "{{ path('ibtikar_glance_dashboard_media_youtube_upload_video',{'type':'video','documentId':app.request.get('id'),'collectionType':'Product'}) }}?imageType=coverPhoto";
        var validateVideoUrl = '{{ path('youtube_validate_videoUrl') }}';
        var refreshImagesUrl = "{{ path('ibtikar_glance_dashboard_media_user_files',{'type':'image','documentId':app.request.get('id'),'collectionType':'Product'})}}";
        var relatedMaterialSearchUrl = "{{ path('ibtikar_glance_dashboard_product_related_material_search', {'collectionType':'recipe'})}}";
        var relatedArticleSearchUrl = "{{ path('ibtikar_glance_dashboard_product_related_material_search', {'collectionType': 'article'})}}";
        var relatedTipSearchUrl = "{{ path('ibtikar_glance_dashboard_product_related_material_search', {'collectionType': 'tip'})}}";
        var relatedMaterialDeleteUrl = '{{ path('ibtikar_glance_dashboard_producte_related_material_delete') }}';
        var relatedMaterialAddUrl = '{{ path('ibtikar_glance_dashboard_producte_related_material_add') }}';

        var element;
        var name;
        var type;
         var imageErrorMessages={
            'imageExtension': '{% trans from 'validators'%}picture not correct.{%endtrans%}',
            'imageDimension': '{% trans from 'validators'%}Image dimension must be more than 1170*600{%endtrans%}',
            'BannerimageDimension': '{% trans from 'validators'%}Image dimension must be more than 1170*600{%endtrans%}',
            'sizeError': '{% trans from 'validators'%}File size must be less than 4mb{%endtrans%}',
            'generalError': '{% trans %}failed operation{%endtrans%}',
            'coverPhoto': '{% trans from translationDomain %}coverPhoto{%endtrans%}',
            'profilePhoto': '{% trans from translationDomain %}profilePhoto{%endtrans%}',
            'bannerPhoto': '{% trans from translationDomain %}bannerPhoto{%endtrans%}',
            'bannerImage': '{% trans from translationDomain %}bannerPhoto{%endtrans%}',
        };


    /**
     * @author ahmad Gamal <a.gamal@ibtikar.net.sa>
     */
    function valid_youtubeUrl(videoUrl) {
        return videoUrl.match(/^(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/);
    }

    function getIDFromURL(url){
        var ID = '';
        url = url.replace(/(>|<)/gi,'').split(/(vi\/|v=|\/v\/|youtu\.be\/|\/embed\/)/);
        if(url[2] !== undefined) {
          ID = url[2].split(/[^0-9a-z_\-]/i);
          ID = ID[0];
        }
        else {
          ID = url;
        }
          return ID;
      }

    $('[name="form[coverType]"]').on('click',function(){
        if($(this).val() == "image"){
            $('#dev-coverPhoto').show();
            $('#dev-coverVideo').hide();
        }else if($(this).val() == "video"){
            $('#dev-coverVideo').show();
            $('#dev-coverPhoto').hide();
        }
    });
        $('[name="form[coverType]"]:checked').trigger('click');
        $(document).on('click', '.dev-upload-video', function() {

            if(typeof ytXhr !== "undefined")
                ytXhr.abort();


            var obj = $('#form_video').val();
            var videoUrl = $.trim(obj);

            if (videoUrl === "") {
                errorContainer.removeClass('has-error');
                return;
            }

            if (!valid_youtubeUrl(videoUrl)) {
                showNotificationMsg(messages.wrongURL,'','error');
                $('.dev-recipe-videoUrl').val('');
                return;
            }

            var videoId = getIDFromURL(videoUrl);

            if (videoId.indexOf("https://www.youtube") > -1) {
                showNotificationMsg(messages.wrongURL,'','error');
                $('.dev-recipe-videoUrl').val('');
                return;
            }

            ytXhr = $.ajax({
                url: validateVideoUrl,
                method: 'post',
                data: {'videoUrl': videoUrl},
                success: function(data) {
                    if (data == 'error') {
                        showNotificationMsg(messages.wrongURL,'','error');
                    } else {
                            $('.dev-videourl-submit').attr('disabled','disabled');
                            var videos = [];
                            videos[0] = videoId;

                            $.ajax({
                                url: youtubeUploadVideo,
                                method: "POST",
                                data: {videos: videos},
                                success: function(data) {
                                    if (data.status === 'success') {
                                        showNotificationMsg(data.message, "", data.status);
                                        $(data.video).each(function () {
                                            $('#dev-coverVideo img').attr('src',this.imageUrl);
                                            $('#dev-coverVideo [data-popup="lightbox"]').attr('href',this.imageUrl);
                                        });
                                    }

                                    $('.dev-recipe-videoUrl').val('');
                                    $('.dev-videourl-submit').removeAttr('disabled');
                                }
                            });

                    }
                }
            });

    });

    $(document).on('onFailSubmitForm', function () {
        RelatedRecipeObj = '{{product.getRelatedRecipeJson|json_encode|raw}}';
        $('#form_related').val(RelatedRecipeObj);
        if($('#form_related').val()!=''){
            updateRelatedMaterial();
        }

        RelatedTipObj = '{{product.relatedTipJson|json_encode|raw}}';
        $('#form_related_tip').val(RelatedTipObj);
        if($('#form_related_tip').val()!=''){
            updateRelatedTip();

        }

        RelatedArticleObj = '{{product.getRelatedArticleJson()|json_encode|raw}}';
        $('#form_related_article').val(RelatedArticleObj);
        if($('#form_related_article').val()!=''){
             updateRelatedArticle();
        }

    })
     RelatedRecipeObj = '{{product.getRelatedRecipeJson|json_encode|raw}}';
        $('#form_related').val(RelatedRecipeObj);
           if($('#form_related').val()!=''){
        updateRelatedMaterial();
    }



         RelatedTipObj = '{{product.relatedTipJson|json_encode|raw}}';
        $('#form_related_tip').val(RelatedTipObj);
        if($('#form_related_tip').val()!=''){
                  updateRelatedTip();

        }

        RelatedArticleObj = '{{product.getRelatedArticleJson()|json_encode|raw}}';
        $('#form_related_article').val(RelatedArticleObj);
        if($('#form_related_article').val()!=''){
        updateRelatedArticle();
    }
    </script>


{% endblock %}