{% extends  'IbtikarGlanceDashboardBundle:List:baseList.html.twig' %}

{% block title %}{% trans from 'product' %}View One Product{% endtrans%}{% endblock%}
{% block statistic %}
    <span class="label bg-number heading-text"><span class="dev-document-count">{{total}}</span> {% trans from translationDomain %}subproducts and activity{% endtrans %}</span>
{% endblock %}

{% block breadCrumb %}
    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_dashboard_product_create')}}"><i class="icon-add"></i><span>إدخال منتج</span></a>
    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_dashboard_subproduct_create',{'productId':app.request.get('id')})}}"><i class="icon-add"></i><span>إدخال منتج فرعى جديد </span></a>
    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_dashboard_activity_create',{'productId':app.request.get('id')})}}"><i class="icon-add"></i><span>إدخال جديدنا/ خيارات عاليه الجوده </span></a>
    <a class="btn btn-link btn-float has-text activeLink" href="{{path('ibtikar_glance_dashboard_product_list')}}"><i class="icon-table2"></i> <span> المنتجات</span></a>

{% endblock %}

                {% block statisctic %}
                                        <div class="row">

                        <div class="col-lg-12">


                                    <form class="form-horizontal">
                                        <!-- Navigation -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">مشاهده منتج </h5>
                                            </div>

                                            <div class="panel-body">


              <div class="row">


                                            <div class="col-md-12">

                                                <h5>
                                                    الصور
                                                </h5>



                                                <div class="table-responsive">
                                                    <table class="table table-bordered">

                                                        <tbody>
                                                               <tr id="dev-profilePhoto">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">
                                    {% set profileImage= product.getProfilePhoto() %}
                                        {% if profileImage is not empty %}
                                            <img src="{{ asset(profileImage.getWebPath())}}" alt="">

                                        {% else %}
                                            <img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" alt="">

                                        {% endif %}
                                        <div class="caption">
                                            <span>
                                                {% if profileImage is not empty %}
                                                    <a href="{{ asset(profileImage.getWebPath())}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% else %}
                                                    <a href="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg')}}" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>

                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td class="thumbnail-caption">
                                <h4>  صورة المنتج</h4>
                              {#  <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li> يجب الا تقل ابعاد الصورة عن 200*200 </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>#}
                            </td>


                        </tr>



                                                        </tbody>
                                                    </table>
                            {% if coverPhotos|length > 0 %}

                                        <div class="row">

                                            <div class="col-md-12">


                                                                                                <h5>
                                                   صور الغلاف
                                                </h5>


                                                <div class="table-responsive filesUploaded">

                                                    <table class="table table-bordered">

                                                        <tbody id="media-list-target-right" class="media-list media-list-container">
                                                            {% for media in coverPhotos %}
                                                                {% if media['type']=='image' %}
                                                            <tr class="media imageRow">

                                                                <td class="UploadkindIcon">
                                                                    <i class="icon-image2"></i>
                                                                </td>
                                                                <td style="width: 150px">

                                                                    <div class="thumbnail">
                                                                        <div class="thumb thumb-slide">
                                                                            <img alt="" src="{{ asset(media['img']|default('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg'))}}">
                                                                            <div class="caption">
                                                                                <span>
                                                                                    <a data-popup="lightbox" class="btn btn-primary btn-icon" href="{{ asset(media['img']|default('bundles/ibtikarshareeconomydashboarddesign/images/placeholder.jpg'))}}"><i class="icon-zoomin3"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </td>
                                                                <td class="thumbnail-caption">
{#                                                                    <h4>   اسم الصورة اللي رافعها يتكتب هنا</h4>#}
                                                                    <div class="row">
                                                                        <div class="col-lg-12 marginBottom-20">
                                                                     <img width="30" height="20" alt="arabic" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}">
                                                                  {{ media['caption']}}
                                                                        </div>

                                                                        <div class="col-lg-12">
                                                                               <img width="30" height="20" alt="arabic" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}">
                                                                  {{ media['captionEn']}}

                                                                        </div>
                                                                    </div>


                                                                </td>

                                                            </tr>

{% else %}

                                                            <tr class="media videoRow">

                                                                <td class="UploadkindIcon">
                                                                    <i class="icon-video-camera"></i>
                                                                </td>
                                                                <td style="width: 150px">
                                                                    <div class="thumbnail">
                                                                        <div class="thumb thumb-slide">
                                                                            <img alt="" src="{{ 'https://i.ytimg.com/vi/' ~media['videoCode']~ '/hqdefault.jpg'  }}">
                                                                            <div class="caption">
                                                                                <span>
                                                                                    <a data-popup="lightbox" class="btn btn-primary btn-icon" href="{{ 'https://i.ytimg.com/vi/' ~media['videoCode']~ '/hqdefault.jpg'  }}"><i class="icon-zoomin3"></i></a>
                                                                                </span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </td>
                                                                <td class="thumbnail-caption">
{#                                                                    <h4>   اسم الصورة اللي رافعها يتكتب هنا</h4>
#}                                                                    <div class="row">
                                                                        <div class="col-lg-12 marginBottom-20">
                                                                     <img width="30" height="20" alt="arabic" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}">
                                                                 {{ media['caption']}}
                                                                        </div>

                                                                        <div class="col-lg-12">
                                                                               <img width="30" height="20" alt="arabic" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}">
                                                                                                                                 {{ media['captionEn']}}


                                                                        </div>
                                                                    </div>


                                                                </td>

                                                            </tr>
                                                            {% endif %}
{% endfor %}



                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                                <hr/>



                                        <div class="tabbable">
                                            <ul class="nav nav-tabs nav-tabs-highlight">
                                                <li class="active"><a href="#arabic" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}" alt="arabic" width="30" height="20"/></a></li>
                                                <li><a href="#english" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}" alt="english" width="30" height="20"/></a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="arabic">


                                                    <div class="form-group has-feedback">
                                                        <label class="control-label col-lg-2">   {% trans from translationDomain%}name{%endtrans%} </label>
                                                        <div class="control-label col-lg-10">
                                                       {{ product.name}}
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2">{% trans from translationDomain%}description{%endtrans%} </label>
                                                        <div class="control-label col-lg-10">
                                                      {{ product.description}}
                                                        </div>
                                                    </div>



                                                </div><!-- arabic end -->

                                                <div class="tab-pane" id="english">


                                                    <div class="form-group has-feedback">
                                                        <label class="control-label col-lg-2">{% trans from translationDomain%}nameEn{%endtrans%}</label>
                                                        <div class="control-label col-lg-10">
                                                          {{ product.nameEn}}
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2">{% trans from translationDomain%}descriptionEn{%endtrans%}</label>
                                                        <div class="control-label col-lg-10">
                                                        {{ product.descriptionEn}}
                                                        </div>
                                                    </div>


                                                </div><!-- english end -->

                                            </div>

                                            {#                                                                            {% if relatedArticles|length > 0 %}

                        <div class="form-group">
                            <label class="control-label col-lg-2"> {% trans from translationDomain %}Related article{%endtrans%}  </label>
                            <div class="col-lg-10">
                                <ul class="dev-related-list media-list width-350 notificationList">
                                     {% for relatedRecipe in relatedArticles %}
                                    <li  class="media">
                                        <a href="{{ relatedRecipe['url']}}" target="_blank">
                                        <div class="media-left">
                                            <img alt="" class="img-circle" src="{{ relatedRecipe['img']}}">
                                        </div>
                                        <div class="media-body">
                                            <b> {{ relatedRecipe['title']}}‬‬</b>
                                        </div>
                                        </a>
                                    </li>
                                     {% endfor  %}
                                </ul>

                            </div>
                        </div>
                                {% endif %}#}
  {#                              {% if relatedTips|length > 0 %}
                        <div class="form-group">
                            <label class="control-label col-lg-2"> {% trans from translationDomain %}Related tip{%endtrans%}  </label>
                            <div class="col-lg-10">
                                <ul class="dev-related-list media-list width-350 notificationList">
                                    {% for relatedRecipe in relatedTips %}
                                        <li  class="media">
                                            <a href="{{ relatedRecipe['url']}}"  target="_blank">

                                                <div class="media-left">
                                                    <img alt="" class="img-circle" src="{{ relatedRecipe['img']}}">
                                                </div>
                                                <div class="media-body">
                                                    <b> {{ relatedRecipe['title']}}‬‬</b>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor  %}
                                </ul>

                            </div>
                        </div>
                                {% endif %}
<hr/>#}


                                        </div>


                                                                                                            <hr>






                                            </div><!-- panel-body end -->
                                        </div><!-- panel end -->
                                    </form>



                        </div><!-- col-lg-12 -->
                    </div><!-- row end -->

                {% endblock %}
                {% block actions %}
                           {% if list.hasBulkActions(listName) %}
                        <input type="hidden" id="dev-bulk-action" name="bulk-action" value=""/>
                        <span class="dev-bulk-action-container" data-list-name="{{listName|lower}}" data-href="{{ list.hasBulkActions(listName) ? path(prefixRoute|lower ~ '_bulk_actions') : '' }}" style="display: none;">
                            {% for action in list.bulkActions %}
                                    {% if action == "Delete" and (is_granted('ROLE_'~listName|upper~'_DELETE') or is_granted('ROLE_ADMIN')) %}
                                        <a data-action="{{action}}" {{popover_factory({
                                            question : "You are about to delete (%count%) (%type%), Are you sure?",
                                            replaceAttr : true,
                                            buttons : [
                                                        {
                                                            text : "Yes",
                                                            class : "dev-bulk-delete-btn dev-bulk-action-btn btn-danger"
                                                        },
                                                        {
                                                            text : "Cancel",
                                                            class : "btn-default"
                                                        }
                                                    ]
                                            })|replace({'%type%': (oneItem~"s")|lower|trans})|raw}} class="btn btn-default btn-sm" data-placement="bottom"> <i class="icon-trash"></i> <span class="hidden-sm position-right">{{ 'delete'|trans }} {{ ((oneItem|capitalize)~"s")|trans }}</span></a>
                                                                                {% endif %}
                            {% endfor %}
                    </span>
                    {% endif %}
                {% endblock%}
                {% block actionView %}
    {{ include('IbtikarGlanceDashboardBundle:SubProduct:_listActions.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/media/fancybox.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_thumbnails.js')}}"></script>

    <script>
        var parameterNotRemoved= 'id='+'{{app.request.get('id')}}'
        changeListColumnsUrl="{{ path('ibtikar_glance_dashboard_subproduct_change_list_columns',{'id':app.request.get('id')})}}";
        ajaxData = '{{path("ibtikar_glance_dashboard_product_view")}}';
    </script>

{% endblock %}