{% extends 'IbtikarGlanceDashboardBundle::formLayout.html.twig' %}



{% block form_container %}



    {{ form_start(form)}}
    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active"><a href="#arabic" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}" alt="arabic" width="30" height="20"/></a></li>
            <li><a href="#english" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}" alt="english" width="30" height="20"/></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="arabic">


                {{ form_row(form.title) }}

                {{ form_row(form.brief) }}

                {{ form_row(form.tags) }}
                <hr/>
                {{ form_row(form.ingredients) }}
                <hr/>
                {{ form_row(form.method) }}
            </div><!-- arabic end -->

            <div class="tab-pane" id="english">


                {{ form_row(form.titleEn) }}

                {{ form_row(form.briefEn) }}

                {{ form_row(form.tagsEn) }}
                <hr/>
                {{ form_row(form.ingredientsEn) }}
                <hr/>
                {{ form_row(form.methodEn) }}
            </div><!-- english end -->

        </div>
    </div>
    <hr/>

    {{form_row(form.submitButton)}}
    {{ form_end(form) }}

    <div class="actions">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-labeled btn-labeled-left dropdown-toggle" data-toggle="dropdown"><b><i class="icon-image2"></i></b> رفع الصور <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left libraryDrop">
                        <li>
                            <input type="file" class="multiUploadImgBtn" multiple>


                        </li>
                        <li class="divider"></li>
                        <li>  بحث جوجل


                            <div class="input-group content-group">
                                <div class="has-feedback">
                                    <input id="dev-search-gimage-box-small" class="form-control input-xs" value="" type="text">
                                </div>

                                <div class="input-group-btn">
                                    <button type="button" id="search-img-btn-small" class="btn btn-primary btn-xs">بحث</button>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div><!-- btn-group -->

                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-labeled btn-labeled-left dropdown-toggle" data-toggle="dropdown"><b><i class="icon-video-camera"></i></b> رفع الفيديوهات <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left libraryDrop">
                        <li>  بحث يوتيوب


                            <div class="input-group content-group">
                                <div class="has-feedback">
                                    <input class="form-control input-xs" value="" type="text">
                                </div>

                                <div class="input-group-btn">
                                    <button  type="button"  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#GoogleImportVideos-modal">بحث</button>
                                </div>
                            </div>


                        </li>
                        <li class="divider"></li>
                        <li>  رابط مباشر


                            <div class="input-group content-group">
                                <div class="has-feedback">
                                    <input class="form-control input-xs" value=" " type="text">
                                </div>

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-xs">اصف</button>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div><!-- btn-group -->
            </div>
            <div class="col-md-6">
                <div class="pull-right position-left">
                    <label class="radio-inline">
                        <input type="radio" name="showStyle" class="styled" checked="checked">
                        تسلسلي
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="showStyle" class="styled" checked="checked">
                        سليدر
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div id="GoogleImportImg-modal" class="modal fade">
    <div class="modal-dialog  modal-full">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"> الصورة
                </h6>
            </div>

            <div class="modal-body googleResults">


                <!-- Main content -->
                <div class="">

                    <!-- Search field -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">نتائج بحث جوجل </h5>
                        </div>

                        <div class="panel-body">
                            <form action="#" class="main-search">
                                <div id="google-field" class="input-group content-group">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="text" id="dev-search-gimage-box" class="form-control input-xlg" value="بحث جوجل">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-muted text-size-base"></i>
                                        </div>
                                    </div>

                                    <div class="input-group-btn">
                                        <button id="search-img-btn" type="submit" class="btn btn-primary btn-xlg">بحث</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- /search field -->



                    <!-- Search results -->
                    <div class="content-group">

                            <div class="row">
                                <div id="dev-google" class="search-results-list GoogleImages">
                                </div><!-- row end -->

                            <div class="dropdown-content-footer dev-gimage-footer">
                                <a href="#" id="dev-load-more-gimage">
                                    <i class="icon-menu display-block"></i>
                                </a>
                                <div id="dev-loading-more-gimage" class="moreNotifications" style="display: none">
                                    <i class="icon-spinner6 spinner" ></i>
                                </div>
                            </div>

                        </div>





                    </div>
                    <div style="display: none;" id="google-no-result">
                                    نأسف، لا توجد نتائج
                    </div>
                    <!-- /search results -->

                </div>
                <!-- /main content -->



            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">الغاء</button>
                <button type="button" class="btn btn-primary">ادخال</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    <!-- uploadImg modal -->
    <div id="uploadImg" class="modal fade">
        <div class="modal-dialog  modal-full">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> الصورة
                    </h6>
                </div>

                <div class="modal-body">

                    <div id="image-cropper-modal">
                        <!-- This is where the preview image is displayed -->
                        <div class="cropit-preview"></div>

                        <!-- This range input controls zoom -->


                        <div class="controls-wrapper">
                            <div class="rotation-btns">
                                <span class="icon-rotate-cw2 rotate-ccw-btn"></span>
                                <span class="icon-rotate-ccw2 rotate-cw-btn"></span>
                            </div>


                            <!-- You can add additional elements here, e.g. the image icons -->
                            <div class="slider-wrapper">
                                <span class="icon icon-image2 smallIcon"></span>
                                <input type="range" min="0" max="50" value="5" step="5" class="cropit-image-zoom-input" />
                                <span class="icon icon-image2 bigIcon"></span>
                            </div>
                        </div><!-- controls-wrapper -->

                        <!-- This is where user selects new image -->
                        <input type="file" class="cropit-image-input" />

                        <!-- The cropit- classes above are needed
                             so cropit can identify these elements -->
                    </div>

                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-link dev-crop-spinner" style="display: none"><i class="spinner icon-spinner text-success"></i></button>
                    <button type="button" class="btn btn-link dev-submit-image" data-url="" data-id=""><i class="icon-checkmark4 text-success"></i></button>
                    <button type="button" class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 text-danger-400"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /uploadImg modal -->

 {% set imageTempelate %}
            <tr id="dev-%name%">
                            <td style="width: 150px">

                                <div class="thumbnail">
                                    <div class="thumb thumb-slide">
                                            <img src="%image-url%" alt="">
                                        <div class="caption">
                                            <span>
                                            <a href="%image-url%" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </td>
                            <td class="thumbnail-caption">
                                <h4>   %arabicName%</h4>
                                <ul class="text-grey-300">
                                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                                    <li> يجب الا تقل ابعاد الصورة عن 200*200 </li>
                                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                                </ul>
                            </td>
                            <td style="width: 300px" data-name="%name%">
                                %uploadButton%
                                %cropButton%
                                %deleteButton%


                            </td>

                        </tr>

    {% endset %}
     {% set uploadButton %}
        <a class="btn btn-defualt upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
     {% endset %}
     {% set cropButton %}
        <a class="btn btn-defualt dev-crop-images"    data-image-id="%image-id%" data-crop-url="%crop-url%">  رفع الصورة </a>
     {% endset %}
     {% set deleteButton %}
         <a class="btn btn-defualt dev-trash-image" data-image-id="%image-id%"  data-href = "%image-delete-url%"  %pop-block%> <i class="icon-trash"></i></a>
         {% endset %}


    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/media/fancybox.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_thumbnails.js')}}"></script>


    <!-- Plugin file uploaded JS -->
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.js')}}"></script>


    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/jquery.cropit.js')}}"></script>

    <script>
        var googleStopSearch=1;
        var imageTempelate = '{{ imageTempelate|escape('js') }}';
        var cropButton = '{{ cropButton|escape('js') }}';
        var deleteButton = '{{ deleteButton|escape('js') }}';
        var uploadButton = '{{ uploadButton|escape('js') }}';
        var cropperPluginInitialized = false;
        var uploadUrl = "{{ path('ibtikar_glance_dashboard_media_upload',{'type':'image','documentId':'null','collectionType':'Product'})}}";
        var refreshImagesUrl = "{{ path('ibtikar_glance_dashboard_media_user_files',{'type':'image','documentId':'null','collectionType':'Product'})}}";
        var element;
        var name;
        var type;
        var imageErrorMessages={
            'imageExtension': '{% trans from 'validators'%}picture not correct.{%endtrans%}',
            'imageDimension': '{% trans from 'validators'%}Image dimension must be more than 200*200{%endtrans%}',
            'sizeError': '{% trans from 'validators'%}File size must be less than 4mb{%endtrans%}',
            'generalError': '{% trans %}failed operation{%endtrans%}',
            'coverPhoto': '{% trans from translationDomain %}coverPhoto{%endtrans%}',
            'profilePhoto': '{% trans from translationDomain %}profilePhoto{%endtrans%}',
        }
        var Tags = '{{ path('get_tags')}}';
    </script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/product.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/js/mediaHandler.js')}}"></script>
    <script src="https://apis.google.com/js/client.js?onload=initgapi"></script>

    <script>

        function getTags() {
            $('#recipe_tags').val($('#recipe_type_tagSelected').val());
            $.ajax({
                url: Tags,
                success: function(data) {
                    $('[data-tag-input]').tokenfield({
                        autocomplete: {
                          source: data,
                          delay: 50
                        }
                      });
                }
            });
        }

        $(document).ready(function(){
            getTags();
            $('body').on('preAjaxCallback', function(e) {
              var button= $(document.activeElement)
               if(button.hasClass('dev-save-add')){
                    $('#form_submitButton').val('add_save');
               } else {
                    $('#form_submitButton').val('save');
               }


            });

        })
    </script>

{% endblock %}