{% extends 'IbtikarGlanceDashboardBundle::formLayout.html.twig' %}



{% block form_container %}

 {% form_theme form   'IbtikarGlanceDashboardBundle::form_theme_recipe.html.twig' %}

    {{ form_start(form)}}

   <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active"><a href="#arabic" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/arabic.png')}}" alt="arabic" width="30" height="20"/></a></li>
            <li><a href="#english" data-toggle="tab"><img src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/images/english.png')}}" alt="english" width="30" height="20"/></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="arabic">


              {{ form_row(form.title) }}

                {{ form_row(form.description) }}

            </div><!-- arabic end -->

            <div class="tab-pane" id="english">


                {{ form_row(form.titleEn) }}

                {{ form_row(form.descriptionEn) }}
            </div><!-- english end -->

        </div>
    </div>
    <hr/>
    {{form_row(form.save)}}
    {{ form_end(form) }}



    <div id="GoogleImportVideos-modal" class="modal fade">
        <div class="modal-dialog  modal-full">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> الفيديو
                    </h6>
                </div>

                <div class="modal-body googleResults">


                    <!-- Main content -->
                    <div class="content-wrapper">

                        <!-- Search field -->
                        <div class="panel panel-flat media-body">
                            <div class="panel-heading">
                                <h5 class="panel-title"> بحث اليوتيوب </h5>
                            </div>

                            <div class="panel-body">
                                <form  class="main-search">
                                    <div class="input-group content-group">
                                        <div class="has-feedback has-feedback-left">
                                            <input type="text" id="dev-search-gvideo-box" class="form-control input-xlg youtube-query-input" value="بحث اليوتيوب">
                                            <div class="form-control-feedback">
                                                <i class="icon-search4 text-muted text-size-base"></i>
                                            </div>
                                        </div>

                                        <div class="input-group-btn">
                                            <button type="submit" id="search-vid-btn" class="btn btn-primary btn-xlg dev-youtube-upload">بحث</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- /search field -->



                        <!-- Search results -->
                        <div class="content-group">
                            <div style="" id="youtube-no-result">
                                نأسف، لا توجد نتائج
                            </div>
                            <div class="videossearch-results-list">

                                <ul class="media-list search-results-list content-group">

                                </ul>

                            </div>





                        </div>
                        <!-- /search results -->




                    </div>
                    <!-- /main content -->



                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">الغاء</button>
                    <button type="button" class="btn btn-primary dev-youtube-submit">ادخال</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_extras %}
    <div class="actions">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-labeled btn-labeled-left dropdown-toggle" data-toggle="dropdown"><b><i class="icon-video-camera"></i></b> رفع الفيديوهات <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-left libraryDrop">
                        <li>  بحث يوتيوب


                            <div class="input-group content-group">
                                <div class="has-feedback">
                                    <input id="dev-search-gvideo-box-small" class="form-control input-xs click-on-enter" value="" type="text">
                                </div>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-xs" id="search-vid-btn-small" >بحث</button>
                                </div>
                            </div>


                        </li>
                        <li class="divider"></li>
                        <li>  رابط مباشر


                            <div class="input-group content-group">
                                <div class="has-feedback">
                                    <input class="form-control input-xs dev-recipe-videoUrl" value=" " type="text">
                                </div>

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-xs dev-videourl-submit">أضف</button>
                                </div>
                            </div>


                        </li>
                    </ul>
                </div><!-- btn-group -->
            </div>
        </div>
    </div>
    <div class="panel-body">



        <div class="row">

            <div class="col-md-12">

                <ul class="LibraryFilter">

                    <li class="filterActive videosFilter">

                        <span><span class="dev-video-count">0</span> فيديو</span>

                    </li>

                </ul>

                <div class="noFilterSelected">
                    لا يوجد ملفات مختارة
                </div>
                <div class="table-responsive filesUploaded">

                    <table class="table table-bordered">
                        <tbody class="media-list media-list-container" id="media-list-target-right">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% set imageSortTemplate %}
    <tr class="media videoRow" id="%image-id%">
        <td class="library-drag">
            <i class="icon icon-move dragula-handle"></i>
        </td>
        <td class="UploadkindIcon">
            <i class="%image-icon%"></i>
        </td>
        <td style="width: 150px">
            <div class="thumbnail">
                <div class="thumb thumb-slide">
                    <img src="%image-src%" data-image-id="%image-id%" alt="%image-name%">
                    <div class="caption">
                        <span>
                            <a href="%image-src%" data-image-id="%image-id%" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                        </span>
                    </div>
                </div>

            </div>

        </td>
        <td class="thumbnail-caption">
            <h4>  %image-name%</h4>
            <div class="row">
            <label class="radio-inline" style="margin-top:10px;">
                <input type="radio" name="radio-inline-left" class="styled dev-cover-img" value="%image-id%" %check%>
                تعيين فيديو للغلاف
            </label>
            </div>
            <br/>
            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control dev-caption-ar"  value="%caption-ar%" placeholder="ادخل الاسم بالعربيه" type="text">
                </div>

                <div class="col-lg-6">
                    <input class="form-control dev-caption-en"  value="%caption-en%" placeholder="ادخل الاسم بالانجليزيه" type="text">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <textarea class="form-control dev-description-ar"  placeholder="ادخل الوصف بالعربيه" >%description-ar%</textarea>
                </div>
                <div class="col-lg-6">
                    <textarea class="form-control dev-description-en" placeholder="ادخل الوصف بالانجليزيه" >%description-en%</textarea>
</div>
            </div>


        </td>
        <td style="width: 120px">

            <a class="btn btn-default" data-href="%delete-url%" {{popover_factory({})|replace({'%type%': "recipe"|lower|trans})|raw}} > <i class="icon-trash"></i></a>
        </td>
    </tr>
{% endset %}


{% set videoSearchTemplate %}
    <li class="media stack-media-on-mobile">
        <div class="media-left">
            <div class="thumb">
                <a href="#">
                    <img src="%video-thumb%" alt="%video-title%" name="%video-title%" class="img-responsive img-rounded media-preview" alt="">
                    <span class="zoom-image"><i class="icon-play3"></i></span>
                </a>
            </div>
        </div>

        <div class="media-body">
            <div class="radio">
                <label>
                    <input type="checkbox" name="stacked-radio-left" class="styled" value="%video-id%" %check%>
                    <h6 class="media-heading"><a href="#">%video-title%</a></h6>
                </label>
            </div>
            <ul class="list-inline list-inline-separate text-muted">
                <li><i class="icon-book-play position-left"></i> %video-channel%</li>
                <li>%video-date%</li>
            </ul>
            %video-desc%
        </div>
    </li>
    {#<div class=" col-md-4 col-sm-6">
        <div class="searchItem">
            <span class="videoCaption">%video-title%</span>
            <span class="inputWrapper">
                <input type="checkbox" value="%video-id%" title="%video-title%" thumb-url="%video-thumb%" name="check" class="check" />
            </span>
            <span class="fa-stack fa-lg video-overlay" video-id="%video-id%">
                <img src="{{ asset('design/sabq-new/img/play-button.svg')}}" alt="video"  class="youtube-play-sign"/>
            </span>
            <img src="%video-thumb%" alt="%video-title%" name="%video-title%" class="video-thumb" />
        </div>
    </div>#}
{% endset %}
{% block javascripts %}


    <div id="iframeModal" class="modal fade">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   <h3 class="modal-title"></h3>
               </div>
               <div class="modal-body">
                   <div id="iframe-loader" class="loading">
                   </div>
                   <iframe class="dev-iframe-auto-resize" src="" scrolling="no" width="100%" style="border: none;"></iframe>
               </div>
           </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
    <!-- uploadImg modal -->
    <div id="uploadImg" class="modal fade">
        <div class="modal-dialog  modal-full">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> الصورة
                    </h6>
                </div>

                <div class="modal-body">

                    <div id="image-cropper-modal">
                        <!-- This is where the preview image is displayed -->
                        <div class="cropit-preview"></div>

                        <!-- This range input controls zoom -->


                        <div class="controls-wrapper">
                            <div class="rotation-btns">
                                <span class="icon-rotate-cw2 rotate-ccw-btn"></span>
                                <span class="icon-rotate-ccw2 rotate-cw-btn"></span>
                            </div>


                            <!-- You can add additional elements here, e.g. the image icons -->
                            <div class="slider-wrapper">
                                <span class="icon icon-image2 smallIcon"></span>
                                <input type="range" min="0" max="50" value="5" step="5" class="cropit-image-zoom-input" />
                                <span class="icon icon-image2 bigIcon"></span>
                            </div>
                        </div><!-- controls-wrapper -->

                        <!-- This is where user selects new image -->
                        <input type="file" class="cropit-image-input" />

                        <!-- The cropit- classes above are needed
                             so cropit can identify these elements -->
                    </div>

                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-link dev-crop-spinner" style="display: none"><i class="spinner icon-spinner text-success"></i></button>
                    <button type="button" class="btn btn-link dev-submit-image" data-url="" data-id=""><i class="icon-checkmark4 text-success"></i></button>
                    <button type="button" class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 text-danger-400"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /uploadImg modal -->


    {% set imageTempelate %}
        <tr id="dev-%name%">
            <td style="width: 150px">

                <div class="thumbnail">
                    <div class="thumb thumb-slide">
                        <img src="%image-url%" alt="">
                        <div class="caption">
                            <span>
                                <a href="%image-url%" class="btn btn-primary btn-icon" data-popup="lightbox"><i class="icon-zoomin3"></i></a>
                            </span>
                        </div>
                    </div>

                </div>
            </td>
            <td class="thumbnail-caption">
                <h4>   %arabicName%</h4>
                <ul class="text-grey-300">
                    <li> يجب الا يزيد حجم الصوره عن 4 ميجا</li>
                    <li> يجب الا تقل ابعاد الصورة عن 200*200 </li>
                    <li>يجب ان تكون الصورة بصيغة JPG أو JPEG أو PNG </li>
                </ul>
            </td>
            <td style="width: 300px" data-name="%name%">
                %uploadButton%
                %cropButton%
                %deleteButton%


            </td>

        </tr>

    {% endset %}
    {% set uploadButton %}
        <a class="btn btn-default upload-image-modal-open dev-upload-image"  > رفع الصورة</a>
    {% endset %}
    {% set cropButton %}
        <a class="btn btn-default dev-crop-images"    data-image-id="%image-id%" data-crop-url="%crop-url%">  رفع الصورة </a>
    {% endset %}
    {% set deleteButton %}
        <a class="btn btn-default dev-trash-image" data-image-id="%image-id%"  data-href = "%image-delete-url%"  %pop-block%> <i class="icon-trash"></i></a>
        {% endset %}


    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switchery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/forms/styling/switch.min.js')}}"></script>


    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/form_checkboxes_radios.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/media/fancybox.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/pages/components_thumbnails.js')}}"></script>


    <!-- Plugin file uploaded JS -->
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/bootstrap-fileupload.js')}}"></script>


    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/fileupload/jquery.cropit.js')}}"></script>

    <!-- drag and drop files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/ui/dragula.min.js')}}"></script>
    <!-- /theme JS files -->

    <script>
        var googleStopSearch = 1;
    var uploadImageUrl = '{{ path('recipe_upload_imageUrl') }}';
    var imageTempelate = '{{ imageTempelate|escape('js') }}';
    var cropButton = '{{ cropButton|escape('js') }}';
    var deleteButton = '{{ deleteButton|escape('js') }}';
    var uploadButton = '{{ uploadButton|escape('js') }}';
    var cropperPluginInitialized = false;
    var imageSortTemplate = '{{ imageSortTemplate|escape('js') }}';

    var corsBroxy = "{{ path('ibtikar_glance_dashboard_media_get_external')}}";
    var uploadUrl = "{{ path('ibtikar_glance_dashboard_media_upload',{'type':'image','documentId':app.request.get('id'),'collectionType':'Season'})}}";
    var googleUploadImage = '{{ path('google_upload_image', {'documentId':app.request.get('id'), 'collectionType':'Season'}) }}';
    var refreshImagesUrl = "{{ path('ibtikar_glance_dashboard_media_user_files',{'type':'all','documentId':app.request.get('id'),'collectionType':'Season'})}}";
    var relatedMaterialSearchUrl = "{{ path('ibtikar_glance_dashboard_recipe_related_material_search', {'collectionType':'recipe'})}}";
    var videoSearchTemplate = '{{ videoSearchTemplate|escape('js') }}';
    var youtubeUploadVideo = '{{ path('ibtikar_glance_dashboard_media_youtube_upload_video',{'type':'video','documentId':app.request.get('id'),'collectionType':'Season'}) }}';
    var validateVideoUrl = '{{ path('youtube_validate_videoUrl') }}';
    var relatedMaterialDeleteUrl = '{{ path('ibtikar_glance_dashboard_recipe_related_material_delete') }}';
    var requestId = '{{ app.request.get('id') }}';
    var page='season'
        var element;
        var name;
        var type;
        var imageErrorMessages = {
        'imageExtension': '{% trans from 'validators'%}picture not correct.{%endtrans%}',
        'imageDimension': '{% trans from 'validators'%}Image dimension must be more than 1000*700{%endtrans%}',
        'sizeError': '{% trans from 'validators'%}File size must be less than 4mb{%endtrans%}',
        'generalError': '{% trans %}failed operation{%endtrans%}',
        'profilePhoto': '{% trans from translationDomain %}profilePhoto{%endtrans%}',
        'profilePhoto': '{% trans from translationDomain %}profilePhoto{%endtrans%}',
        }
    </script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/subproduct.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/js/seasonmediaHandler.js')}}"></script>

    <script src="https://apis.google.com/js/client.js?onload=initgapi"></script>

{% endblock %}
