{% set deleteAttrs = popover_factory(deletePopoverConfig is defined?deletePopoverConfig:[]) %}
{% set conditionalDeleteAttrs = popover_factory(conditionalDeletePopoverConfig is defined?conditionalDeletePopoverConfig:[]) %}
{% set conditionalUnpublishAttrs = popover_factory({ "question" : "You are about to unpublish (%title%),Are you sure?",
            "replaceAttr" : false,
            "buttons" :[
                {
                    "text" : "Yes",
                    "class" : "dev-unpublish-btn btn-danger",
                    "callback" : "callUrl",
                    "callback-param" : [
                        "data-href"
                    ]
                },
               {
                    "text" : "Cancel",
                    "class" : "btn-default",
                },
            ],
            "translationDomain" : null}) %}

{% set conditionalStopAnswerAttrs = popover_factory({ "question" : "You are about to stop answers (%title%),Are you sure?",
            "replaceAttr" : false,
            "buttons" :[
                {
                    "text" : "Yes",
                    "class" : "dev-resume-stop-answers-btn btn-danger",
                    "callback" : "callUrl",
                    "callback-param" : [
                        "data-href"
                    ]
                },
               {
                    "text" : "Cancel",
                    "class" : "btn-default",
                },
            ],
            "translationDomain" : null}) %}

{% set conditionalResumeAnswerAttrs = popover_factory({ "question" : "You are about to resume answers (%title%),Are you sure?",
            "replaceAttr" : false,
            "buttons" :[
                {
                    "text" : "Yes",
                    "class" : "dev-resume-stop-answers-btn btn-danger",
                    "callback" : "callUrl",
                    "callback-param" : [
                        "data-href"
                    ]
                },
               {
                    "text" : "Cancel",
                    "class" : "btn-default",
                },
            ],
            "translationDomain" : null }) %}


<td  style="white-space: nowrap;">
                                                                    {% if  object.getNotModified() is not defined  or  object.getNotModified()== false %}
                                                                        {% for action in list.actions %}
                                                                            {% if action == "Edit" %}
                                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_EDIT') or is_granted('ROLE_ADMIN') %}

                                                                                    <a class="btn btn-default"  href = "{{ path(prefixRoute|lower ~ '_edit', {'id': object.id}) }}"  ><i class="icon-pencil" data-popup="tooltip"  data-placement="right" title="{{ ('Edit ' ~  listName)|trans({},translationDomain)}}"></i></a>
                                                                                    {% endif %}
                                                                                {% elseif action == "Delete" %}
                                                                                    {% if is_granted('ROLE_' ~ listName|upper ~'_DELETE') or is_granted('ROLE_ADMIN')%}
                                                                                    <a class="btn btn-default"  data-href = "{{ path(prefixRoute|lower ~ '_delete', {'id': object.id}) }}" {{ ((deleteMsgConditionAttr is defined and attribute(object,deleteMsgConditionAttr) is defined and attribute(object,deleteMsgConditionAttr) > 0)?conditionalDeleteAttrs:deleteAttrs)|replace({'%title%': object})|raw }}><i class="icon-trash" data-popup="tooltip" title="{{ ('Delete ' ~  sublistName)|trans({},translationDomain)}}" data-placement="right"  ></i></a>
                                                                                    {% endif %}
                                                                                {% elseif action == "ViewOne" %}

                                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_VIEWONE') or is_granted('ROLE_ADMIN')  %}

                                                                                    <a href="{{ path(prefixRoute|lower~'_view', {'id': object.id}) }}" class="btn btn-default">
                                                                                        <i class="icon-eye" data-popup="tooltip"  data-placement="right" title="{{('View One ' ~  listName)|trans({},translationDomain)}}" ></i>
                                                                                    </a>
                                                                                {% endif %}

                                                                            {% elseif action == "Assign" %}
                                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_ASSIGN') or is_granted('ROLE_ADMIN')%}
                                                                                    <a href="javascript:void(0);"   class="btn btn-default dev-assign-to-me"   data-id="{{ object.getId() }}" data-url="{{ path(prefixRoute|lower ~'_assign_to_me')}}"  >
                                                                                        <i class="icon-user" data-popup="tooltip"  data-placement="right" title="{% trans from translationDomain %}AssignToMe{% endtrans %}"  ></i>
                                                                                    </a>
                                                                                {% endif %}


                                                                            {% elseif action == "Publish" %}


                                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_PUBLISH') or is_granted('ROLE_ADMIN')%}
                                                                                        <a href="javascript:void(0)" data-toggle="modal"  class="btn btn-default dev-publish-recipe" data-id="{{ object.getId() }}"><i class="icon-share" data-placement="right"  data-popup="tooltip" title="{{('publish ' ~  listName|capitalize)|trans({},translationDomain)}}"></i></a>
                                                                                {% endif %}
                                                                            {% elseif action == "unPublish" %}

                                                                            {% if is_granted('ROLE_' ~ listName|upper ~'_UNPUBLISH') or is_granted('ROLE_ADMIN')  %}
                                                                                {% if object.getStatus() =='publish' %}
                                                                                    <a class="btn btn-default"  data-href = "{{ path(prefixRoute|lower ~ '_unpublish', {'id': object.id}) }}" {{ conditionalUnpublishAttrs|replace({'%title%': object})|raw }}><i class="icon-blocked" data-popup="tooltip" title="{{('unpublish ' ~  listName|capitalize)|trans({},translationDomain)}}" data-placement="right"  ></i></a>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% elseif action == "StopResume" %}

                                                                            {% if is_granted('ROLE_' ~ listName|upper ~'_STOPRESUME') or is_granted('ROLE_ADMIN') and object.status=='publish' %}
                                                                                {% if object.getAnswersEnabled() %}
                                                                                    <a class="btn btn-default" data-status="disabled" data-href = "{{ path(prefixRoute|lower ~ '_updateAnswerStatus', {'id': object.id}) }}" {{ conditionalStopAnswerAttrs|replace({'%title%': object})|raw }}><i class="icon-stop" data-popup="tooltip" title="{{('stop ' ~  listName|capitalize)|trans({},translationDomain)}}" data-placement="right"  ></i></a>
                                                                                    {% else  %}
                                                                                    <a class="btn btn-default"  data-status="enabled" data-href = "{{ path(prefixRoute|lower ~ '_updateAnswerStatus', {'id': object.id}) }}" {{ conditionalResumeAnswerAttrs|replace({'%title%': object})|raw }}><i class="icon-check" data-popup="tooltip" title="{{('resume ' ~  listName|capitalize)|trans({},translationDomain)}}" data-placement="right"  ></i></a>

                                                                                {% endif %}
                                                                            {% endif %}
                                                                            {% elseif action == "ViewAnswers" %}

                                                                                {% if is_granted('ROLE_' ~ listName|upper ~'_VIEWONEANSWER') or is_granted('ROLE_ADMIN')  %}

                                                                                    <a href="{{ path(prefixRoute|lower~'_viewAnswers', {'id': object.id}) }}" class="btn btn-default">
                                                                                        <i class="icon-list" data-popup="tooltip"  data-placement="right" title="{{('List competitionanswer')|trans({},translationDomain)}}" ></i>
                                                                                    </a>
                                                                            {% endif %}
                                                                            {% elseif action == "ViewOneAnswer" %}
                                                                            {% if 'unpublish' in app.request.get('route') %}
                                                                                {% set status='unpublish' %}
                                                                            {% else %}
                                                                                {% set status='publish' %}

                                                                            {% endif %}

                                                                            {% if is_granted('ROLE_COMPETITION' ~ status|upper ~'_VIEWONEANSWER') or is_granted('ROLE_ADMIN')  %}
                                                                                <a href="{{ path(prefixRoute|lower~'_viewanswerone', {'id': object.id}) }}" class="btn btn-default">
                                                                                    <i class="icon-eye" data-popup="tooltip"  data-placement="right" title="{{('View One ' ~  listName|capitalize)|trans({},translationDomain)}}" ></i>
                                                                                </a>
                                                                            {% endif %}
                                                                            {% endif %}


                                                                        {% endfor %}
                                                                    {% endif  %}
                                                                </td>