{% extends 'IbtikarShareEconomyDashboardDesignBundle:Layout:dashboard.html.twig' %}
{% block header %}
    {{ include('IbtikarGlanceDashboardBundle::header.html.twig') }}
{% endblock %}
{% block navbar %}
    {{ include('IbtikarGlanceDashboardBundle::navbar.html.twig') }}
{% endblock %}
{% block side_menu %}
    {{ include('IbtikarGlanceDashboardBundle::sidebar.html.twig') }}
{% endblock %}
{% block title %}{% trans from translationDomain %}View One answer{% endtrans%}{% endblock%}


{% block breadCrumb %}
    <a class="btn btn-link btn-float has-text" href="{{path('ibtikar_glance_dashboard_product_create')}}"><i class="icon-add"></i><span>إدخال منتج</span></a>
    <a class="btn btn-link btn-float has-text activeLink" href="{{path('ibtikar_glance_dashboard_product_list')}}"><i class="icon-table2"></i> <span> المنتجات</span></a>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">


            <div class="row">

                <div class="col-lg-12">


                    <form class="form-horizontal">
                        <!-- Navigation -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
{#                                <h5 class="panel-title">بيانات </h5>#}

                                <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-lg-2">تاريخ الاجابة </label>
                                    <div class="col-lg-10">
                                        <h5>  {{ courseAnswer.createdAt|date('Y-m-d h:i A')}}</h5>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2">{% trans from translationDomain %}fullName{% endtrans%} </label>
                                    <div class="col-lg-10">
                                        <h5>  {{ courseAnswer.fullName}}</h5>

                                    </div>
                                </div>






                                <div class="form-group">
                                    <label class="control-label col-lg-2"> رقم الهاتف  </label>
                                    <div class="col-lg-10">
                                        <h5 style="direction: ltr; text-align: right;">  {{ courseAnswer.createdBy.mobile }}  </h5>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2"> النوع  </label>
                                    <div class="col-lg-10">
                                        <h5>  {{ courseAnswer.createdBy.gender|trans({},translationDomain)}}  </h5>
                                    </div>
                                </div>
                         {#       <div class="form-group">
                                    <label class="control-label col-lg-2"> العمر  </label>
                                    <div class="col-lg-10">
                                        <h5>  {{ courseAnswer.createdBy.age }}  </h5>
                                    </div>
                                </div>#}

                                <div class="form-group">
                                    <label class="control-label col-lg-2"> النسبة  </label>
                                    <div class="col-lg-10">
                                        <h5>   {{ courseAnswer.percentage}}  </h5>
                                    </div>
                                </div>


                                <hr/>

                                {% if courseAnswer.getLocale()=='ar' %}
                                    {% set questions=courseAnswer.getCourse().questions%}
                                {% else %}
                                    {% set questions=courseAnswer.getCourse().questionsEn%}
                                {% endif %}

                                {% set answerType=null %}
                                {% for answer in courseAnswer.answers%}
                                    <h2><span class="questionNumber badge-primary"> {{loop.index}} </span>
                                        {% for question in questions %}
                                            {% if question.id ==answer.question.id %}
                                                {% set answerType=question.questionType %}

                                                    {{question}}
                                                {% if question.answerImportance=='mandatory' %}
                                                    <span style="font-size:75%;color:red;">*</span>
                                                {% endif %}
                                            {% endif %}

                                        {% endfor%}
                                    </h2>
                                    <div class="row">


                                        <div class="{% if  answerType !='image' %}col-lg-8{% endif %}">

                                            <div class="form-group ">

                                                <div class="control-label col-lg-12">

                                                    {% if answerType=='input phone'%}
                                                        <h5 style="direction: ltr; text-align: right;"> {{answer.answer}}</h5>
                                                    {% elseif answerType =='image' %}
                                                         <div class="row">
                                                                    <div class="search-results-list GoogleImages">


                                                                         {% for image in (answer.answer|unserialize) %}
                                                                             {% if courseAnswer.uid in  image %}
                                                                            <div class="col-lg-2 col-sm-4">
                                                                                <div class="thumbnail">
                                                                                    <div class="thumb">
                                                                                        <img src="{{ asset(image)}}" alt="{{ image }}">
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                                    {% endif %}
                                                                        {% endfor%}




                                                                    </div><!-- row end -->


                                                                </div>

                                                    {% elseif answerType=='video'  %}
                                        <iframe id="player{{loop.index-1}}" style="width:300px;height: 220px;" class="yt_players" src="//www.youtube.com/embed/{{answer.answer}}?enablejsapi=1&rel=0"></iframe>

                                                    {% else %}
                                                        {{answer.answer}}
                                                        <br/>
                                                        {% if answer.correctAnswer %}صحيحه{%else %}خاطئة{%endif %}
                                                    {% endif %}

                                                </div>
                                            </div>



                                        </div>


                                    </div><!-- row end -->
                                    <hr/>
                                {% endfor %}












                            </div><!-- panel-body end -->
                        </div><!-- panel end -->
                    </form>



                </div><!-- col-lg-12 -->
            </div><!-- row end -->




        </div><!-- col-lg-12 tabs -->


    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//www.youtube.com/player_api"></script>
    <script>
                players = new Array();
        function onYouTubeIframeAPIReady() {
            var temp = $("iframe.yt_players");
            for (var i = 0; i < temp.length; i++) {
                if($(temp[i]).attr('id')=='player0'){
                   var t = new YT.Player('player0', {
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    }
                  });
                }else{
                       var t = new YT.Player($(temp[i]).attr('id'), {
                    events: {
                        onStateChange: onPlayerStateChange
                    }
                });
                }

                players.push(t);
            }


        }

        function onPlayerReady(event) {
             event.target.playVideo();
            jQuery(".cssload-zenith").fadeOut();
        //will fade out the whole DIV that covers the website.
             jQuery(".cssload-container").delay(0).fadeOut("slow");
        }

        function onPlayerStateChange(event) {

            if (event.data == YT.PlayerState.PLAYING) {
                //alert(event.target.getVideoUrl());
                // alert(players[0].getVideoUrl());
                var temp = event.target.getVideoUrl();
                var tempPlayers = $("iframe.myt_players");
                for (var i = 0; i < players.length; i++) {
                    if (players[i].getVideoUrl() != temp)
                        players[i].stopVideo();
                }
            }
        }

    </script>
{% endblock %}
